<div class="modal modal-md fade" id="deleteSegment" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="deleteSegmentLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form id="deleteSegmentForm" action="/api/admin/segment">
            <input type="hidden" id="d_segment_id" value="">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteSegmentLabel"><%= __('AdminSegmentModalDeleteLabel') %></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Stäng"></button>
                </div>
                <div class="modal-body loading-spinner">
                    <div class="d-flex justify-content-center">
                        <div class="spinner-border" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                </div>
                <div class="modal-body loaded-content" style="display:none;">
                    <p>
                        <strong id="d_segment_name"></strong>
                    </p>
                    <div class="segment-deletable" style="display:none;">
                    </div>
                    <div class="segment-replace" style="display:none;">
                        <div class="alert alert-danger">
                            <%= __('AdminSegmentModalDeleteReplaceAlertText') %>
                        </div>
                        <label for="d_replace_with_segment"><%= __('AdminSegmentModalDeleteReplaceAlertSelectLabel') %></label><br>
                        <select id="d_replace_with_segment" class="form-control"></select>
                    </div>
                    <div class="segment-delete-final" style="display:none;">
                        <div class="alert alert-danger">
                            <%= __('AdminSegmentModalDeleteFinalAlertText') %>
                        </div>
                    </div>
                    <div class="alert alert-error alert-danger" style="display:none;">
                        <strong><%= __('GeneralErrorMessagePrefixText') %></strong>
                        <span></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><%= __('AdminSegmentModalDeleteButtonCloseLabel') %></button>
                    <button type="submit" class="btn btn-danger" id="deleteSegmentSaveButton"><%= __('AdminSegmentModalDeleteButtonSubmitLabel') %> <span class="spinner-border spinner-border-sm" style="display:none;" role="status" aria-hidden="true"></span></button>
                </div>
            </div>
        </form>
    </div>
</div>