<div class="modal modal-md fade" id="editInstructor" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="editInstructorLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form class="needs-validation" id="editInstructorForm" novalidate action="/api/admin/instructor">
            <input type="hidden" id="e_instructor_id" value="" />
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editInstructorLabel">Redigera handledare</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Stäng"></button>
                </div>
                <div class="modal-body loading-spinner">
                    <div class="d-flex justify-content-center">
                        <div class="spinner-border" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                </div>
                <div class="modal-body loaded-content" style="display:none;">
                    <div id="e_instructor_editPart">
                        <p>
                            <label for="e_instructor_name"><%= __('AdminInstructorModalLabelName') %></label><br>
                            <input type="text" class="form-control" id="e_instructor_name" value="">
                        </p>
                        <p>
                            <label for="e_instructor_email"><%= __('AdminInstructorModalLabelEmail') %></label><br>
                            <input type="email" class="form-control" id="e_instructor_email" value="">
                        </p>
                        <div>
                            <label for="e_instructor_name_canvas">Namn i Canvas:</label>
                        </div>
                        <div class="input-group pb-3">
                            <input type="text" class="form-control" id="e_instructor_name_canvas" value="" disabled>
                            <button class="btn btn-md btn-dark" id="copy_e_instructor_name"><i class="bi bi-box-arrow-up"></i> Kopiera</button>    
                        </div>
                        <div>
                            <label for="e_instructor_email_canvas">E-post i Canvas:</label>
                        </div>
                        <div class="input-group pb-3">
                            <input type="text" class="form-control" id="e_instructor_email_canvas" value="" disabled>
                            <button class="btn btn-md btn-dark" id="copy_e_instructor_email"><i class="bi bi-box-arrow-up"></i> Kopiera</button>    
                        </div>
                    </div>
                </div>
                <div class="modal-body content-error" style="display:none;">
                    <div class="alert alert-danger">
                        <strong><%= __('GeneralErrorMessagePrefixText') %></strong>
                        <span></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><%= __('AdminInstructorModalEditButtonCloseLabel') %></button>
                    <button type="submit" class="btn btn-primary" id="editInstructorSaveButton"><%= __('AdminInstructorModalEditButtonSubmitLabel') %> <span class="spinner-border spinner-border-sm" style="display:none;" role="status" aria-hidden="true"></span></button>
                </div>
            </div>
        </form>
    </div>
</div>