<div class="modal modal-md fade" id="deleteInstructor" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="deleteInstructorLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form id="deleteInstructorForm" action="/api/admin/instructor">
            <input type="hidden" id="d_instructor_id" value="">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteInstructorLabel"><%= __('AdminInstructorModalDeleteLabel') %></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Stäng"></button>
                </div>
                <div class="modal-body loading-spinner">
                    <div class="d-flex justify-content-center">
                        <div class="spinner-border" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                </div>
                <div class="modal-body loaded-content" style="display:none;">
                    <p>
                        <strong id="d_name"></strong><br>
                        <small id="d_email"></small>
                    </p>
                    <div class="instructor-deletable" style="display:none;">
                    </div>
                    <div class="instructor-replace" style="display:none;">
                        <div class="alert alert-danger">
                            <%= __('AdminInstructorModalDeleteReplaceAlertText') %>
                        </div>
                        <label for="d_replace_with_instructor"><%= __('AdminInstructorModalDeleteReplaceAlertSelectLabel') %></label><br>
                        <select id="d_replace_with_instructor" class="form-control" data-default-text="<%= __('AdminInstructorModalDeleteReplaceAlertSelectLabelDataDefault') %>"></select>
                    </div>
                    <div class="alert alert-error alert-danger" style="display:none;">
                        <strong>Ett fel inträffade: </strong><span></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><%= __('AdminInstructorModalDeleteButtonCloseLabel') %></button>
                    <button type="submit" class="btn btn-danger" id="deleteInstructorSaveButton"><%= __('AdminInstructorModalDeleteButtonSubmitLabel') %> <span class="spinner-border spinner-border-sm" style="display:none;" role="status" aria-hidden="true"></span></button>
                </div>
            </div>
        </form>
    </div>
</div>