<div class="modal modal-md fade" id="deleteCourse" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="deleteCourseLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form id="deleteCourseForm" action="/api/admin/course">
            <input type="hidden" id="d_course_id" value="">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteCourseLabel"><%= __('AdminCourseModalDeleteLabel') %></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Stäng"></button>
                </div>
                <div class="modal-body loading-spinner">
                    <div class="d-flex justify-content-center">
                        <div class="spinner-border" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                </div>
                <div class="modal-body loaded-content" style="display:none;">
                    <p>
                        <strong id="d_course_name"></strong><br>
                        <span class="text-muted" id="d_course_type"></span>
                    </p>
                    <div class="course-deletable" style="display:none;">
                    </div>
                    <div class="course-replace" style="display:none;">
                        <div class="alert alert-danger">
                            <%= __('AdminCourseModalDeleteNotDeletableText') %>
                        </div>
                        <!--
                        <label for="d_replace_with_course">Välj:</label><br>
                        <select id="d_replace_with_course" class="form-control"></select>
                        -->
                    </div>
                    <div class="alert alert-error alert-danger" style="display:none;">
                        <strong><%= __('GeneralErrorMessagePrefixText') %></strong>
                        <span></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><%= __('AdminCourseModalDeleteButtonCloseLabel') %></button>
                    <button type="submit" class="btn btn-danger" id="deleteCourseSaveButton"><%= __('AdminCourseModalDeleteButtonSubmitLabel') %> <span class="spinner-border spinner-border-sm" style="display:none;" role="status" aria-hidden="true"></span></button>
                </div>
            </div>
        </form>
    </div>
</div>