<nav class="navbar navbar-dark navbar-top bg-dark">
  <div class="container-fluid">
    <div class="bg-dark py-3">
      <h5 class="text-white h4">BOKNINGSVERKTYG <i class="bi bi-calendar2-check-fill"></i></h5>
      <span class="text-muted">Boka tider för handledningstillfällen, föreläsningar och workshops.</span>
    </div>
  </div>
</nav>

<nav class="navbar navbar-main-navigation">
  <div class="container-fluid mt-2">
    <ul class="nav">
      <li class="nav-item <%= navigation.active == 'index' ? 'active' : '' %>">
        <a class="nav-link" href="/">Boka tid</a>
      </li>
      <% if (!user.isAdministrator && !user.isInstructor) { %>
        <li class="nav-item <%= navigation.active == 'reservations' ? 'active' : '' %>">
          <a class="nav-link" href="/reservations">Mina bokningar <span id="statsReservationsCount" class="text-muted">(<div class="spinner-border spinner-border-sm" role="status"><span class="visually-hidden">Loading...</span></div>)</span></a>
        </li>
      <% } %>
      <% if (user.isInstructor) { %>
        <li class="nav-item <%= navigation.active == 'instructor-slots' ? 'active' : '' %>">
          <a class="nav-link" href="/?instructor=<%= user.db_id %>&amp;availability=1">Mina tillfällen <span id="statsInstructorSlotCount" class="badge badge-pill badge-success"></span></a>
        </li>
      <% } %>
      <% if (user.isAdministrator) { %>
        <li class="nav-item <%= navigation.active == 'admin' ? 'active' : '' %>">
          <a class="nav-link" href="/admin">Administration</a>
        </li>
      <% } %>
      <% if (user.isAdministrator || user.isInstructor) { %>
        <li class="nav-item">
          <a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#newSlotSeries">Lägg till nya tider</a>
        </li>
      <% } %>
    </ul>
    <span class="navbar-text">
      <strong><%= user.name %></strong>
      <% if (user.isAdministrator) { %>
        (administratör)
      <% } else if (user.isInstructor) { %>
        (handledare)
      <% } else { %>
        <% if (user.groups_human_readable && user.groups_human_readable.length) { %>
          (<%= user.groups_human_readable.join(", ") %>)
        <% } else { %>
          (ej medlem i någon grupp)
        <% } %>
      <% } %>
    </span>  
  </div>
</nav>
