<div class="offcanvas offcanvas-end" style="width:500px;" tabindex="-1" id="offcanvasSlotDetails" aria-labelledby="offcanvasSlotDetailsLabel">
    <div class="offcanvas-header">
      <h5 id="offcanvasSlotDetailsLabel"></h5>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body loading-spinner">
      <div class="d-flex justify-content-center">
        <div class="spinner-border" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
    </div>
    <div class="offcanvas-body loaded-content" style="display:none;">
      <p>
        <span class="text-muted" id="offcanvasSlotDetails_time"></span><br>
        <span id="offcanvasSlotDetails_location"></span>
        <div class="button-bar">
          <a id="offcanvasSlotDetails_ical_button" href="/api/instructor/slot/" download="" target="_blank" title="<%= __('OffCanvasDetailsDownloadIcalButtonTitle') %>" class="btn btn-md btn-primary" ><i class="bi bi-cloud-download"></i>&nbsp;<%= __('OffCanvasDetailsDownloadIcalButtonText') %></a>
          <button id="offcanvasSlotDetails_send_message" class="btn btn-md btn-primary" title="<%= __('OffCanvasDetailsManualMessageButtonTitle') %>"><i class="bi bi-envelope"></i>&nbsp;<%= __('OffCanvasDetailsManualMessageButtonText') %></button>
        </div>
        <div id="offcanvasSlotDetailsMessaging" class="card card-message" style="display:none;">
          <div class="card-header">
            <%= __('OffCanvasDetailsManualMessageCardHeader') %>
          </div>
          <div class="card-body">
            <form id="offcanvasSlotDetailsMessaging_form" method="post" action="">
              <p>
                <strong><%= __('ConversationRobotManualMessageSenderLabel') %></strong><br>
                <span id="offcanvasSlotDetailsMessaging_sender">Chalmers Canvas Robot</span>
              </p>
              <p>
                <strong><%= __('ConversationRobotManualMessageReceiverLabel') %></strong>
                <span id="offcanvasSlotDetailsMessaging_receivers"></span>
              </p>
              <p>
                <label for="message_text" class="form-label"><%= __('ConversationRobotManualMessageTextLabel') %></label><br>
                <textarea required name="message_text" id="message_text" class="form-control" style="min-height:280px;"></textarea>
              </p>
              <p>
                <small><%= __('ConversationRobotManualMessageSendingNoteText') %></small>
              </p>
              <div id="offcanvasSlotDetailsMessaging_error" class="d-none">
                <div class="alert alert-error alert-danger">
                  <strong><%= __('GeneralErrorMessagePrefixText') %></strong>
                  <span></span>
                </div>  
              </div>
              <div id="offcanvasSlotDetailsMessaging_success" class="d-none">
                <div class="alert alert-success">
                  <span></span>
                </div>  
              </div>
              <div id="offcanvasSlotDetailsMessaging_actionButtons" class="d-block">
                <div class="float-end_x">
                  <button type="button" id="offcanvasSlotDetailsMessaging_cancel" class="btn btn-md btn-secondary"><%= __('OffCanvasDetailsManualMessageCardCancelButtonText') %></button>
                  <button type="submit" id="offcanvasSlotDetailsMessaging_submit" class="btn btn-md btn-primary"><%= __('OffCanvasDetailsManualMessageCardSubmitButtonText') %> <span class="spinner-border spinner-border-sm" style="display:none;" role="status" aria-hidden="true"></span></button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </p>
      <p>
        <span id="offcanvasSlotDetails_type_details"></span>
      </p>
      <p>
        <div><strong>Bokade:</strong></div>
        <div id="offcanvasSlotDetails_reservations" data-default-text="Inga bokningar"></div>
      </p>
      <p>
        <div><strong>Skickade meddelanden:</strong></div>
        <div id="offcanvasSlotDetails_sentMessages" data-default-text="Inga meddelanden"></div>
      </p>
    </div>
  </div>