<div class="modal modal-lg fade" id="reserveSlot" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="reserveSlotLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form class="needs-validation" id="reserveSlotForm" novalidate>
            <input type="hidden" id="r_slot_id" value="">
            <input type="hidden" id="r_type" value="">
            <input type="hidden" id="r_group_string" value="<%= session.user.groups.map(g => g.name).join(',') %>">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="reserveSlotLabel"><%= __('ReserveSlotModalTitle') %></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Stäng"></button>
                </div>
                <div class="modal-body loading-spinner">
                    <div class="d-flex justify-content-center">
                        <div class="spinner-border" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                </div>
                <div class="modal-body loaded-content" style="display:none;">
                    <div class="row">
                        <div class="col-lg-5">
                            <p>
                                <strong id="r_course_name"></strong>
                            </p>
                            <p class="d-none" id="r_course_description"></p>
                            <p>
                                <label><%= __('ReserveSlotModalLabelDateTime') %></label><br>
                                <span id="r_slot_time"></span>
                            </p>
                            <p>
                                <label><%= __('ReserveSlotModalLabelLocation') %></label><br>
                                <span id="r_location_name"></span>
                            </p>
                            <p>
                                <label><%= __('ReserveSlotModalLabelInstructor') %></label><br>
                                <span id="r_instructor_name"></span>
                            </p>
                            <div class="row d-none" id="reservationsContainer">
                                <strong>Andra som bokat:</strong>
                                <div id="reservations" data-default-text="Det finns inga bokningar på denna tid." class="reservations"></div>
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <p>
                                <label for="r_message" class="form-label"><%= __('ReserveSlotModalLabelMessage') %></label>
                                <textarea required id="r_message" name="message" class="form-control" rows="4"></textarea>
                                <div class="invalid-feedback"><%= __('ReserveSlotModalLabelMessageInvalidFeedback') %></div>
                            </p>
                            <p>
                                <div id="reserveSlotGroupBlock" style="display:block;">
                                    <% if (session.user.groups && session.user.groups.length > 0) { %>
                                        <label for="r_group_id" class="form-label"><%= __('ReserveSlotModalLabelReservationGroup') %></label>
                                        <select name="group_id" id="r_group_id" class="form-control">
                                            <% session.user.groups.forEach(group => { %>
                                                <option value="<%= group.id %>"><%= group.name %></option>
                                            <% }) %>
                                        </select>
                                    <% } else { %>
                                        <label for="r_group_id" class="form-label"><%= __('ReserveSlotModalLabelReservationGroup') %></label>
                                        <select name="group_id" id="r_group_id" class="form-control">
                                            <option value=""><%= __('ReserveSlotModalLabelReservationGroupNoMembership') %></option>
                                        </select>
                                    <% } %>
                                </div>
                                <div id="reserveSlotIndividualBlock" style="display:none;">
                                    <% if (session.user.id) { %>
                                        <label for="r_user_id" class="form-label"><%= __('ReserveSlotModalLabelReservationIndividual') %></label>
                                        <select name="user_id" id="r_user_id" class="form-control">
                                            <option value="<%= session.user.id %>"><%= session.user.name %></option>
                                        </select>
                                    <% } %>
                                </div>
                            </p>
                        </div>
                    </div>
                    <div class="row" id="reserveSlotGroupNotice" style="display:none;">
                        <div class="col">
                            <div class="alert alert-primary" role="alert">
                                <strong><%= __('ReserveSlotModalMsgGroupNoticeTitle') %></strong>
                                <span>
                                    <%= __('ReserveSlotModalMsgGroupNoticeText') %>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row" id="reserveSlotGroupConnectNotice" style="display:none;">
                        <div class="col">
                            <div class="alert alert-primary" role="alert">
                                <strong><%= __('ReserveSlotModalMsgGroupConnectNoticeTitle') %></strong>
                                <span>
                                    <%= __('ReserveSlotModalMsgGroupConnectNoticeText') %>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row" id="reserveSlotUserNotInGroup" style="display:none;">
                        <div class="col">
                            <div class="alert alert-danger" role="alert">
                                <strong><%= __('ReserveSlotModalMsgUserNotInGroupTitle') %></strong>
                                <span>
                                    <%= __('ReserveSlotModalMsgUserNotInGroupText') %>
                                </span>
                            </div>    
                        </div>
                    </div>
                    <div class="row" id="reserveSlotError" style="display:none;">
                        <div class="col">
                            <div class="alert alert-danger" role="alert">
                                <strong><%= __('ReserveSlotModalMsgErrorTitle') %></strong> <span></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-body loading-error" style="display:none;">
                    <div class="row" id="reserveSlotLoadingError">
                        <div class="col">
                            <div class="alert alert-danger" role="alert">
                                <strong><%= __('ReserveSlotModalMsgErrorTitle') %></strong>
                                <span><%= __('ReserveSlotModalMsgErrorLoadingText') %></span>
                            </div>
                        </div>
                    </div>    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><%= __('ReserveSlotModalCancelButtonLabel') %></button>
                    <button type="submit" class="btn btn-primary" id="reserveSlotSubmitButton">
                        <%= __('ReserveSlotModalSubmitButtonLabel') %>
                        <span class="spinner-border spinner-border-sm" style="display:none;" role="status" aria-hidden="true"></span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>