<div class="modal modal-md fade" id="deleteReservation" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="deleteReservationLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form class="needs-validation" id="deleteReservationForm" novalidate>
            <input type="hidden" id="d_reservation_id" name="reservation_id" value="" />
            <input type="hidden" id="d_reservation_type" name="reservation_type" value="" />
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteReservationLabel"><%= __('CancelSlotReservationModalTitle') %></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Stäng"></button>
                </div>
                <div class="modal-body">
                    <p>
                        <strong><%= __('CancelSlotReservationModalLabelCourse') %></strong><br>
                        <span id="d_course_name"></span>
                    </p>
                    <p>
                        <strong><%= __('CancelSlotReservationModalLabelDateTime') %></strong><br>
                        <span id="d_slot_time"></span>
                    </p>
                    <p>
                        <strong><%= __('CancelSlotReservationModalLabelLocation') %></strong><br>
                        <span id="d_location_name"></span>
                    </p>
                    <p>
                        <strong><%= __('CancelSlotReservationModalLabelInstructor') %></strong><br>
                        <span id="d_instructor_name"></span>
                    </p>
                    <div class="row d-none" id="deleteReservationNotCancelable">
                        <div class="col">
                            <div class="alert alert-warning" role="alert">
                                <strong><%= __('CancelSlotReservationModalMsgNotCancelableTitle') %></strong>
                                <span>
                                    <%= __('CancelSlotReservationModalMsgNotCancelableText') %>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row d-none" id="deleteReservationWarning">
                        <div class="col">
                            <div class="alert alert-warning" role="alert">
                                <strong><%= __('CancelSlotReservationModalMsgGroupNoticeTitle') %></strong>
                                <span>
                                    <%= __('CancelSlotReservationModalMsgGroupNoticeText') %>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row d-none" id="deleteReservationError">
                        <div class="col">
                            <div class="alert alert-danger" role="alert">
                                <strong><%= __('CancelSlotReservationModalMsgErrorTitle') %></strong> <span></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><%= __('CancelSlotReservationModalCancelButtonLabel') %></button>
                    <button type="submit" class="btn btn-primary" id="deleteReservationSubmitButton">
                        <%= __('CancelSlotReservationModalSubmitButtonLabel') %>
                        <span class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>