<div class="modal modal-lg fade" id="reserveSlot" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="reserveSlotLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form class="needs-validation" id="reserveSlotForm" novalidate>
            <input type="hidden" id="r_slot_id" value="">
            <input type="hidden" id="r_type" value="">
            <input type="hidden" id="r_group_string" value="<%= session.user.groups.map(g => g.name).join(',') %>">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="reserveSlotLabel">Boka tillgänglig tid</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Stäng"></button>
                </div>
                <div class="modal-body loading-spinner">
                    <div class="d-flex justify-content-center">
                        <div class="spinner-border" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                </div>
                <div class="modal-body loaded-content" style="display:none;">
                    <div class="row">
                        <div class="col-lg-5">
                            <p>
                                <strong id="r_course_name"></strong>
                            </p>
                            <p class="d-none" id="r_course_description"></p>
                            <p>
                                <label>Datum och tid:</label><br>
                                <span id="r_slot_time"></span>
                            </p>
                            <p>
                                <label>Lokal:</label><br>
                                <span id="r_location_name"></span>
                            </p>
                            <p>
                                <label>Handledare:</label><br>
                                <span id="r_instructor_name"></span>
                            </p>
                            <div class="row d-none" id="reservationsContainer">
                                <strong>Andra som bokat:</strong>
                                <div id="reservations" data-default-text="Det finns inga bokningar på denna tid." class="reservations"></div>
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <p>
                                <label for="r_message" class="form-label">Frågor eller meddelande till handledaren:</label>
                                <textarea required id="r_message" name="message" class="form-control" rows="4"></textarea>
                                <div class="invalid-feedback">Please enter a message in the textarea.</div>
                            </p>
                            <p>
                                <div id="reserveSlotGroupBlock" style="display:block;">
                                    <% if (session.user.groups && session.user.groups.length > 0) { %>
                                        <label for="r_group_id" class="form-label">Bokning för grupp:</label>
                                        <select name="group_id" id="r_group_id" class="form-control">
                                            <% session.user.groups.forEach(group => { %>
                                                <option value="<%= group.id %>"><%= group.name %></option>
                                            <% }) %>
                                        </select>
                                    <% } else { %>
                                        <label for="r_group_id" class="form-label">Bokning för grupp:</label>
                                        <select name="group_id" id="r_group_id" class="form-control">
                                            <option value="">Ej medlem i någon grupp</option>
                                        </select>
                                    <% } %>
                                </div>
                                <div id="reserveSlotIndividualBlock" style="display:none;">
                                    <% if (session.user.id) { %>
                                        <label for="r_user_id" class="form-label">Bokning för individ:</label>
                                        <select name="user_id" id="r_user_id" class="form-control">
                                            <option value="<%= session.user.id %>"><%= session.user.name %></option>
                                        </select>
                                    <% } %>
                                </div>
                            </p>
                        </div>
                    </div>
                    <div class="row" id="reserveSlotGroupNotice" style="display:none;">
                        <div class="col">
                            <div class="alert alert-primary" role="alert">
                                <strong>Detta är en bokning för en hel grupp.</strong>
                                <span>
                                    När du bokar kommer du och alla medlemmar i din grupp att få en bekräftelse i Canvas Inbox.
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row" id="reserveSlotGroupConnectNotice" style="display:none;">
                        <div class="col">
                            <div class="alert alert-primary" role="alert">
                                <strong>Detta tillfälle är tillsammans med en annan grupp.</strong>
                                <span>
                                    När du bokar kommer du och alla medlemmar i din grupp att få en bekräftelse i Canvas Inbox.
                                    Båda grupperna kommer även få instruktioner för hur ni tillsammans ska förbereda er inför tillfället.
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row" id="reserveSlotUserNotInGroup" style="display:none;">
                        <div class="col">
                            <div class="alert alert-danger" role="alert">
                                <strong>Du är inte medlem i någon grupp.</strong>
                                <span>
                                    För att kunna boka den här tiden måste du vara medlem i en grupp. Kontakta en handledare
                                    eller examinator för att kontrollera varför du inte är med i en grupp.
                                </span>
                            </div>    
                        </div>
                    </div>
                    <div class="row" id="reserveSlotError" style="display:none;">
                        <div class="col">
                            <div class="alert alert-danger" role="alert">
                                <strong>Ett fel uppstod:</strong> <span></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-body loading-error" style="display:none;">
                    <div class="row" id="reserveSlotLoadingError">
                        <div class="col">
                            <div class="alert alert-danger" role="alert">
                                <strong>Ett fel uppstod:</strong>
                                <span>Servern svarade inte, kan inte ladda information.</span>
                            </div>
                        </div>
                    </div>    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Avbryt</button>
                    <button type="submit" class="btn btn-primary" id="reserveSlotSubmitButton">
                        Boka tiden
                        <span class="spinner-border spinner-border-sm" style="display:none;" role="status" aria-hidden="true"></span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>