<div class="card slots-filter">
    <div class="card-header">
        Filtrera
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-3">
                <select class="form-select form-select-sm" aria-label="Filtrera på tillfällen">
                    <option selected value="">Alla tillfällen</option>
                    <% courses.forEach((course) => { %>
                        <option value="<%= course.id %>"><%= course.name %></option>                                
                    <% }); %>
                </select>
            </div>
            <div class="col-3">
                <select class="form-select form-select-sm" aria-label="Filtrera på handledare">
                    <option selected value="">Alla handledare</option>
                    <% instructors.forEach((instructor) => { %>
                        <option value="<%= instructor.id %>"><%= instructor.name %></option>                                
                    <% }); %>
                </select>
            </div>
            <div class="col-3">
                <select class="form-select form-select-sm" aria-label="Filtrera på tillgänglighet">
                    <option selected value="1">Endast bokningsbara</option>
                    <option selected value="2">Visa alla tider</option>
                </select>
            </div>
            <% if (user.isAdministrator) { %>
                <div class="col-3">
                    <button type="button" class="btn btn-sm btn-primary float-end" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Lägg till nya tider</button>
                </div>
            <% } %>
        </div>
    </div>
</div>
<% if (!slots) { %>
    <pre>There are no slots</pre>
<% } else { %>
    <table class="table table-hover my-3">
        <thead>
            <td>Tillfälle</td>
            <td>Tid</td>
            <td>Plats</td>
            <td>Handledare</td>
            <td>Tillgänglighet</td>
        </thead>
        <tbody class="table-group-divider">
            <% slots.forEach((slot) => { %>
                <tr>
                    <td><%= slot.course_name %></td>
                    <td><%- slot.time_human_readable %></td>
                    <td><%= slot.location_name %></td>
                    <td><%= slot.instructor_name %></td>
                    <td><%= slot.type %>, <%= slot.max %></td>
                    <td><button class="btn btn-primary btn-sm float-end">Boka</button></td>
                </tr>
            <% }); %>
        </tbody>
    </table>
<% } %>

<% if (user.isAdministrator) { %>
    <div class="modal modal-lg fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <form class="needs-validation" id="newSlotForm" novalidate>
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Lägg till bokningsbara tider</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Stäng"></button>
                    </div>
                    <div class="modal-body">
                        <p>
                            <label for="course_id">Tillfälle:</label>
                            <select required id="course_id" class="form-select" aria-label="Default select example">
                                <option value="" selected disabled>Välj...</option>
                                <% courses.forEach((course) => { %>
                                    <option value="<%= course.id %>"><%= course.name %></option>                                
                                <% }); %>
                            </select>
                            <div class="invalid-feedback">
                                Du måste välja ett tillfälle/kurs.
                            </div>
                        </p>
                        <p>
                            <label for="instructor_id" class="form-label">Handledare:</label>
                            <select required id="instructor_id" class="form-select" aria-label="Default select example">
                                <option value="" selected disabled>Välj...</option>
                                <% instructors.forEach((instructor) => { %>
                                    <option value="<%= instructor.id %>"><%= instructor.name %></option>                                
                                <% }); %>
                            </select>
                        </p>
                        <p>
                            <label for="location_id" class="form-label">Lokal:</label>
                            <select required id="location_id" class="form-select" aria-label="Default select example">
                                <option value="" selected disabled>Välj...</option>
                                <% locations.forEach((location) => { %>
                                    <option value="<%= location.id %>"><%= location.name %></option>                                
                                <% }); %>
                            </select>
                        </p>
                        <p>
                            <div class="slot_template" id="slot_template">
                                <div class="row">
                                    <div class="col-3">
                                        <label for="slot_date_" class="form-label">Datum:</label>
                                        <input type="date" class="form-control" id="slot_date_">
                                    </div>
                                    <div class="col-2">
                                        <label for="slot_time_start_" class="form-label">Starttid:</label>
                                        <input type="time" class="form-control" id="slot_time_start_">
                                    </div>    
                                    <div class="col-2">
                                        <label for="slot_time_end_" class="form-label">Sluttid:</label>
                                        <input type="time" class="form-control" id="slot_time_end_">
                                    </div>
                                </div>    
                            </div>
                            <div class="row" id="slot_1">
                                <div class="col">
                                    <label for="slot_date_1" class="form-label">Datum:</label>
                                    <input type="date" class="form-control" id="slot_date_1">
                                </div>
                                <div class="col">
                                    <label for="slot_time_start_1" class="form-label">Starttid:</label>
                                    <input type="time" class="form-control" id="slot_time_start_1">
                                </div>    
                                <div class="col">
                                    <label for="slot_time_end_1" class="form-label">Sluttid:</label>
                                    <input type="time" class="form-control" id="slot_time_end_1">
                                </div>
                            </div>
                            <!--<div class="row">
                                <div class="col my-3">
                                    <button type="button" id="slot_new_slot" class="btn btn-primary btn-md">Lägg till...</button>
                                    <small>Lägg till fler tider med samma handledare och lokal.</small>
                                </div>
                            </div>-->
                        </p>
                        <p>
                            <pre id="console_log"></pre>
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Stäng</button>
                        <button type="submit" class="btn btn-primary" id="newSlotSaveButton">Spara</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
<% } %>
