<div class="modal modal-lg fade" id="newSlotSeries" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="newSlotSeriesLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form class="needs-validation" id="newSlotForm" novalidate method="post" action="/api/instructor/slot">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="newSlotSeriesLabel">Lägg till ny serie bokningsbara tider</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Stäng"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-4">
                            <p>
                                <label for="course_id" class="form-label">Tillfälle:</label>
                                <select required id="course_id" name="course_id" class="form-select" aria-label="Välj ett kurstillfälle">
                                    <option value="" selected disabled>Välj...</option>
                                    <% courses.forEach((course) => { %>
                                        <option value="<%= course.id %>"><%= course.name %></option>                                
                                    <% }); %>
                                </select>
                                <div class="invalid-feedback">
                                    Du måste välja ett tillfälle/kurs.
                                </div>
                            </p>
                            <p>
                                <label for="instructor_id" class="form-label">Handledare:</label>
                                <select required id="instructor_id" name="instructor_id" class="form-select" aria-label="Välj en handledare">
                                    <option value="" <%= session.user.db_id != null ? '' : 'selected' %> disabled>Välj...</option>
                                    <% instructors.forEach((instructor) => { %>
                                        <% if (instructor.id == session.user.db_id) { %>
                                            <option value="<%= instructor.id %>" selected><%= instructor.name %></option>
                                        <% } else { %>
                                            <option value="<%= instructor.id %>"><%= instructor.name %></option>
                                        <% } %>
                                    <% }); %>
                                </select>
                            </p>
                            <p>
                                <label for="location_id" class="form-label">Lokal:</label>
                                <select required id="location_id" name="location_id" class="form-select" aria-label="Välj en lokal">
                                    <option value="" selected disabled>Välj...</option>
                                    <% locations.forEach((location) => { %>
                                        <option value="<%= location.id %>"><%= location.name %></option>                                
                                    <% }); %>
                                </select>
                            </p>
                        </div>
                        <div class="col-sm-8">
                            <div id="slot_times">
                                <div class="row slot_template py-2" id="slot_template">
                                    <div class="col-sm-6">
                                        <label for="slot_date_" class="form-label d-none">Datum:</label>
                                        <input type="date" class="form-control" id="slot_date_" name="slot_date_">
                                    </div>
                                    <div class="col-sm-3">
                                        <label for="slot_time_start_" class="form-label d-none">Startar:</label>
                                        <input type="time" class="form-control" id="slot_time_start_" name="slot_time_start_">
                                    </div>
                                    <div class="col-sm-3">
                                        <label for="slot_time_end_" class="form-label d-none">Slutar:</label>
                                        <input type="time" class="form-control" id="slot_time_end_" name="slot_time_end_">
                                    </div>
                                </div>
                                <div class="row slot" id="slot_1">
                                    <div class="col-sm-6">
                                        <label for="slot_date_1" class="form-label">Datum:</label>
                                        <input type="date" class="form-control" id="slot_date_1" name="slot_date_1">
                                    </div>
                                    <div class="col-sm-3">
                                        <label for="slot_time_start_1" class="form-label">Startar:</label>
                                        <input type="time" class="form-control" id="slot_time_start_1" name="slot_time_start_1">
                                    </div>
                                    <div class="col-sm-3">
                                        <label for="slot_time_end_1" class="form-label">Slutar:</label>
                                        <input type="time" class="form-control" id="slot_time_end_1" name="slot_time_end_1">
                                    </div>
                                </div>
                            </div>
                            <div class="row" id="slot_adder">
                                <div class="col my-3">
                                    <button type="button" id="slot_new_slot" class="btn btn-sm btn-dark float-end">Lägg till en tid till</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Stäng</button>
                    <button type="submit" class="btn btn-primary" id="newSlotSaveButton">Spara</button>
                </div>
            </div>
        </form>
    </div>
</div>