<% if (user.isAdministrator) { %>
    <div class="row my-3">
        <div class="col">
            <button type="button" class="btn btn-md btn-secondary" data-bs-toggle="modal" data-bs-target="#newSlotSeries">Lägg till nya tider</button>
        </div>    
    </div>
<% } %>
<div class="card slots-filter">
    <div class="card-header">
        Filtrera
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-3">
                <select id="slotFilterCourse" class="form-select form-select-sm" aria-label="Filtrera på tillfällen">
                    <option selected value="">Alla tillfällen</option>
                    <% courses.forEach((course) => { %>
                        <option value="<%= course.id %>"><%= course.name %></option>                                
                    <% }); %>
                </select>
            </div>
            <div class="col-3">
                <select id="slotFilterInstructor" class="form-select form-select-sm" aria-label="Filtrera på handledare">
                    <option selected value="">Alla handledare</option>
                    <% instructors.forEach((instructor) => { %>
                        <option value="<%= instructor.id %>"><%= instructor.name %></option>                                
                    <% }); %>
                </select>
            </div>
            <div class="col-3">
                <select id="slotFilterAvailability" class="form-select form-select-sm" aria-label="Filtrera på tillgänglighet">
                    <option value="1">Endast lediga tider</option>
                    <option selected value="2">Visa alla tider</option>
                </select>
            </div>
        </div>
    </div>
</div>
<% if (!slots.length) { %>
    <div class="alert alert-secondary my-3" role="alert">
        <h4 class="alert-heading">Det finns inga tillgängliga tider</h4>
        <p>Här kan man skriva något mer om när det släpps tider eller annan matnyttig information.</p>
    </div>
<% } else { %>
<table id="slots" class="table table-hover my-3">
    <thead>
        <tr>
            <td>Tillfälle</td>
            <td>Tid</td>
            <td>Plats</td>
            <td>Handledare</td>
            <td>Tillgänglighet</td>    
        </tr>
    </thead>
    <tbody class="table-group-divider">
        <% slots.forEach((slot) => { %>
            <tr class="" data-course_id="<%= slot.course_id %>">
                <td><%= slot.course_name %></td>
                <td><%- slot.time_human_readable_sv %></td>
                <td><%= slot.location_name %></td>
                <td><%= slot.instructor_name %></td>
                <td>
                    <% if (slot.max == slot.res_now) { %>
                        Fullbokad
                    <% } else { %>
                        Tillgänglig, <%= slot.max-slot.res_now %> av <%= slot.max %>
                    <% } %>
                </td>
                <% if (user.isAdministrator) { %>
                    <td>
                        <button type="button" title="Redigera" data-bs-toggle="modal" data-bs-target="#editSlot" data-bs-slot-id="<%= slot.id %>" class="btn btn-secondary btn-sm float-end"><i class="bi-pencil-fill"></i></button>
                        <button type="button" title="Radera" data-bs-toggle="modal" data-bs-target="#deleteSlot" data-bs-slot-id="<%= slot.id %>" class="btn btn-secondary btn-sm float-end mx-2"><i class="bi-trash-fill"></i></button>
                        <button disabled type="button" title="Boka tiden" class="btn btn-primary btn-sm float-end">Boka <i class="bi-bag-check-fill"></i></button>
                    </td>
                <% } else { %>
                    <td>
                        <% if (slot.max == slot.reserved) { %>
                            <button type="button" title="Tillfället är fullbokat" class="btn btn-primary btn-sm float-end" disabled>Boka</button>
                        <% } else { %>
                            <button type="button" title="Boka tillfället" class="btn btn-primary btn-sm float-end" data-bs-toggle="modal" data-bs-target="#reserveSlot" data-bs-slot-id="<%= slot.id %>" >Boka</button>
                        <% } %>
                    </td>
                <% } %>
            </tr>
        <% }); %>
    </tbody>
</table>
<% } %>

<% if (user.isAdministrator) { %>
    <%- include('slots_admin_modal_new'); %>
    <%- include('slots_admin_modal_edit'); %>
    <%- include('slots_admin_modal_delete'); %>
<% } else { %>
    <%- include('reservations_public_modal_new'); %>
    <%- include('reservations_public_modal_delete'); %>
<% } %>
