<div class="row pt-4">
    <div class="col-xl-9">
        <div class="card card-slots">
            <div class="card-header">
                <%= __('SlotListingHeaderSlots') %>
            </div>
            <div class="card-body">
                <div style="height:3.0rem;">
                    <button type="button" title="Filtrera tider" class="btn btn-dark btn-md position-relative float-end d-xl-none ms-2" data-bs-toggle="offcanvas" data-bs-target="#offcanvasSlotFilters" aria-controls="offcanvasSlotFilters">
                        <i class="bi bi-sliders"></i>
                        Filtrera
                        <% if (navigation.filters_active > 0) { %>
                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-success">
                            <%= navigation.filters_active %>
                            <span class="visually-hidden">applied filters</span>
                        </span>
                        <% } %>
                    </button>
                    <% if (session.user.isAdministrator || session.user.isInstructor) { %>
                        <button type="button" title="<%= __('NavigationNewSlots') %>" class="btn btn-primary btn-md float-end" data-bs-toggle="modal" data-bs-target="#newSlotSeries" aria-controls="newSlotSeries"><i class="bi bi-window-plus xbi-plus-circle"></i>&nbsp;<%= __('NavigationNewSlots') %></button>
                    <% } %>
                </div>
                <% if (!slots.length) { %>
                    <h4 class="alert-heading"><%= __('NoTimeSlots') %></h4>
                    <p><%= __('NoTimeSlotsDescription') %></p>
                    <p><a href="?"><%= __('NoTimeSlotsResetFilters') %></a></p>
                <% } else { %>
                    <h4 class="alert-heading"><%= navigation.title %></h4>
                    <table id="slots" class="table table-hover caption-top mb-3">
                        <thead>
                            <tr>
                                <% if (slots.some(s => s.course_segment_id !== null)) { %><th class="segment-sign"></th> <% } %>
                                <th class="d-md-table-cell d-md-none"><%= __('SlotListingHeaderTimeTitle') %></th>
                                <th class="d-none d-md-table-cell"><%= __('SlotListingHeaderTimeTitle') %></th>
                                <th class="d-none d-md-table-cell"><%= __('SlotListingHeaderInstructorPlaceTitle') %></th>
                                <th class="d-none d-md-table-cell"><%= __('SlotListingHeaderAvailabilityTitle') %></th>
                                <th class="d-none d-md-table-cell"></th>
                            </tr>
                        </thead>
                        <tbody class="table-group-divider">
                            <% slots.forEach((slot) => { %>
                                <tr>
                                    <% if (slots.some(s => s.course_segment_id !== null)) { %>
                                        <td class="text-center align-middle segment-sign" style="color:white; background-color:<%= slot.course_segment_hex_color %>;"><strong><%= slot.course_segment_sign %></strong></td>
                                    <% } %>
                                    <td class="d-md-table-cell d-md-none">
                                        <%= slot.course_name %><br>
                                        <strong><%- slot.time_human_readable %></strong><br>
                                        <%= slot.instructor_name %>, <%= slot.location_name %>
                                        <div><%= slot.availability_notice %></div>
                                        <div class="text-small text-muted"><%= slot.reservable_notice %></div>
                                        <div class="float-end button-bar">
                                            <% if (session.user.isAdministrator || session.user.isInstructor) { %>
                                                <% if (session.user.isAdministrator || (session.user.isInstructor && session.user.db_id == slot.instructor_id)) { %>
                                                    <button type="button" title="Detaljer och bokningar" class="btn btn-secondary btn-md me-2" data-bs-toggle="offcanvas" data-bs-slot-id="<%= slot.id %>" data-bs-target="#offcanvasSlotDetails" aria-controls="offcanvasSlotDetails"><i class="bi-person-lines-fill"></i></button>
                                                    <button type="button" title="Redigera" data-bs-toggle="modal" data-bs-target="#editSlot" data-bs-slot-id="<%= slot.id %>" class="btn btn-secondary btn-md me-2"><i class="bi-pencil-fill"></i></button>
                                                    <button type="button" title="Radera" data-bs-toggle="modal" data-bs-target="#deleteSlot" data-bs-slot-id="<%= slot.id %>" class="btn btn-secondary btn-md"><i class="bi-trash-fill"></i></button>
                                                <% } else { %>
                                                    <button disabled type="button" title="Detaljer och bokningar" class="btn btn-secondary btn-md me-2" data-bs-toggle="offcanvas" data-bs-slot-id="<%= slot.id %>" data-bs-target="#offcanvasSlotDetails" aria-controls="offcanvasSlotDetails"><i class="bi-person-lines-fill"></i></button>
                                                    <button disabled type="button" title="Redigera" class="btn btn-secondary btn-md me-2"><i class="bi-pencil-fill"></i></button>
                                                    <button disabled type="button" title="Radera" class="btn btn-secondary btn-md"><i class="bi-trash-fill"></i></button>
                                                <% } %>
                                            <% } else { %>
                                                <% if (slot.reservable_for_this_user) { %>
                                                    <button type="button" title="Boka tillfället" class="btn btn-primary btn-md" data-bs-toggle="modal" data-bs-target="#reserveSlot" data-bs-slot-id="<%= slot.id %>"><%= __('SlotReservationReserveButtonTitle') %></button>
                                                <% } else { %>
                                                    <button type="button" title="Tillfället är inte bokningsbart" class="btn btn-secondary btn-md" disabled><%= __('SlotReservationReserveButtonTitle') %></button>
                                                <% } %>
                                            <% } %>
                                        </div>
                                    </td>
                                    <td class="d-none d-md-table-cell"><div><%= slot.course_name %></div><div><strong><%- slot.time_human_readable %></strong></div></td>
                                    <td class="d-none d-md-table-cell"><%= slot.instructor_name %><br><%= slot.location_name %></td>
                                    <td class="d-none d-md-table-cell"><%= slot.availability_notice %>
                                        <% if (session.user.isAdministrator || session.user.isInstructor) { %>
                                            <div class="progress" style="height:20px;">
                                                <div class="progress-bar bg-primary" role="progressbar" style="width: <%= slot.res_percent %>%;" aria-valuenow="<%= slot.res_percent %>" aria-valuemin="0" aria-valuemax="100"><%= slot.res_percent %>%</div>
                                            </div>
                                        <% } else { %>
                                            <div class="text-small text-muted"><%= slot.reservable_notice %></div>
                                        <% } %>
                                    </td>
                                    <% if (session.user.isAdministrator || session.user.isInstructor) { %>
                                        <td class="d-none d-md-table-cell align-top">
                                            <div class="float-end">
                                                <% if (session.user.isAdministrator || (session.user.isInstructor && session.user.db_id == slot.instructor_id)) { %>
                                                    <button type="button" title="Detaljer och bokningar" class="btn btn-secondary btn-md me-2" data-bs-toggle="offcanvas" data-bs-slot-id="<%= slot.id %>" data-bs-target="#offcanvasSlotDetails" aria-controls="offcanvasSlotDetails"><i class="bi-person-lines-fill"></i></button>
                                                    <button type="button" title="Redigera" data-bs-toggle="modal" data-bs-target="#editSlot" data-bs-slot-id="<%= slot.id %>" class="btn btn-secondary btn-md"><i class="bi-pencil-fill"></i></button>
                                                    <button type="button" title="Radera" data-bs-toggle="modal" data-bs-target="#deleteSlot" data-bs-slot-id="<%= slot.id %>" class="btn btn-secondary btn-md mx-2"><i class="bi-trash-fill"></i></button>
                                                <% } else { %>
                                                    <button disabled type="button" title="Detaljer och bokningar" class="btn btn-secondary btn-md me-2" data-bs-toggle="offcanvas" data-bs-slot-id="<%= slot.id %>" data-bs-target="#offcanvasSlotDetails" aria-controls="offcanvasSlotDetails"><i class="bi-person-lines-fill"></i></button>
                                                    <button disabled type="button" title="Redigera" class="btn btn-secondary btn-md"><i class="bi-pencil-fill"></i></button>
                                                    <button disabled type="button" title="Radera" class="btn btn-secondary btn-md mx-2"><i class="bi-trash-fill"></i></button>
                                                <% } %>
                                            </div>
                                        </td>
                                    <% } else { %>
                                        <td class="d-none d-md-table-cell align-top">
                                            <div class="float-end">
                                                <% if (slot.reservable_for_this_user) { %>
                                                    <button type="button" title="Boka tillfället" class="btn btn-primary btn-md" data-bs-toggle="modal" data-bs-target="#reserveSlot" data-bs-slot-id="<%= slot.id %>"><%= __('SlotReservationReserveButtonTitle') %></button>
                                                <% } else { %>
                                                    <button type="button" title="Tillfället är inte bokningsbart" class="btn btn-secondary btn-md" disabled><%= __('SlotReservationReserveButtonTitle') %></button>
                                                <% } %>    
                                            </div>
                                        </td>
                                    <% } %>
                                </tr>
                            <% }); %>
                        </tbody>
                    </table>
                <% } %>
                <% if (navigation.pages_total && navigation.pages_total > 1) { %>
                    <nav aria-label="Page navigation" style="margin-top: 16px;">
                        <ul class="pagination justify-content-start flex-wrap">
                            <% if (navigation.current_page > 1) { %>
                                <li class="page-item"><a class="page-link" href="?<%= navigation.link.previous_page %>"><%= __('SlotListingPaginationPrevious') %></a></li>
                            <% } else { %>
                                <li class="page-item disabled"><span class="page-link"><%= __('SlotListingPaginationPrevious') %></span></li>
                            <% } %>
                            <% navigation.pages.forEach(p => { %>
                                <% if (p.current) { %>
                                    <li class="page-item active"><span class="page-link"><%= p.page %></span></li>
                                <% } else { %>
                                    <li class="page-item"><a class="page-link" href="?<%= p.link %>"><%= p.page %></a></li>
                                <% } %>
                            <% }) %>
                            <% if (navigation.current_page < navigation.pages_total) { %>
                                <li class="page-item"><a class="page-link" href="?<%= navigation.link.next_page %>"><%= __('SlotListingPaginationNext') %></a></li>
                            <% } else { %>
                                <li class="page-item disabled"><span class="page-link"><%= __('SlotListingPaginationNext') %></span></li>
                            <% } %>
                        </ul>
                    </nav>
                <% } %>
            </div>
        </div>
    </div>
    <div class="col-md-3 d-none d-xl-block filters">
        <%- include('slots_filters'); %>
    </div>   
</div>

<% if (session.user.isAdministrator || session.user.isInstructor) { %>
    <%- include('slots_admin_modal_new'); %>
    <%- include('slots_admin_modal_edit'); %>
    <%- include('slots_admin_modal_delete'); %>
    <%- include('instructor_upcoming_slots_offcanvas_details'); %>
    <%- include('slots_offcanvas_filters'); %>
<% } else { %>
    <%- include('reservations_public_modal_new'); %>
    <%- include('reservations_public_modal_delete'); %>
    <%- include('slots_offcanvas_filters'); %>
<% } %>
