<div class="modal modal-md fade" id="deleteSlot" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="deleteSlotLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form class="needs-validation" id="deleteSlotForm" novalidate method="post" action="/api/instructor/slot">
            <input type="hidden" id="d_slot_id" name="slot_id" value="" />
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteSlotLabel"><%= __('InstructorDeleteSlotModalLabel') %></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="<%= __('InstructorDeleteSlotModalButtonSubmitLabel') %>"></button>
                </div>
                <div class="modal-body loading-spinner">
                    <div class="d-flex justify-content-center">
                        <div class="spinner-border" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                </div>
                <div class="modal-body loaded-content" style="display:none;">
                    <p>
                        <strong><%= __('InstructorSlotsModalLabelCourse') %></strong><br>
                        <span id="d_course_name"></span>
                    </p>
                    <p>
                        <strong><%= __('InstructorSlotsModalLabelInstructor') %></strong><br>
                        <span id="d_instructor_name"></span>
                    </p>
                    <p>
                        <strong><%= __('InstructorSlotsModalLabelLocation') %></strong><br>
                        <span id="d_location_name"></span>
                    </p>
                    <p>
                        <strong><%= __('InstructorSlotsModalDateAndTimeLabel') %></strong><br>
                        <span id="d_slot_time"></span>
                    </p>
                    <div class="alert alert-secondary">
                        <strong><%= __('InstructorEditSlotModalReservationsLabel') %></strong><br>
                        <div id="reservations" data-default-text="<%= __('InstructorEditSlotModalReservationsNoReservationsText') %>" class=""></div>
                    </div>
                    <div class="row d-none" id="deleteSlotWarning">
                        <div class="col">
                            <div class="alert alert-warning" role="alert">
                                <%- __('InstructorDeleteSlotModalAlertWarningContent') %>
                            </div>    
                        </div>
                    </div>
                    <div class="row d-none" id="deleteSlotError">
                        <div class="col">
                            <div class="alert alert-danger" role="alert">
                                <strong><%= __('GeneralErrorMessagePrefixText') %></strong>
                                <span></span>
                            </div>    
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><%= __('InstructorDeleteSlotModalButtonCloseLabel') %></button>
                    <button type="submit" class="btn btn-primary" id="deleteSlotDeleteButton"><%= __('InstructorDeleteSlotModalButtonSubmitLabel') %> <span class="spinner-border spinner-border-sm" style="display:none;" role="status" aria-hidden="true"></span></button>
                </div>
            </div>
        </form>
    </div>
</div>