<ul class="nav nav-tabs justify-content-end" id="slotsDisplayTab" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="slots-display-list-tab" data-bs-toggle="tab" data-bs-target="#slots-list" type="button" role="tab" aria-controls="slots-list" aria-selected="true">
        <i class="bi-list" title="Visa som lista"></i>
        </button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="slots-display-grid-tab" data-bs-toggle="tab" data-bs-target="#slots-grid" type="button" role="tab" aria-controls="slots-grid" aria-selected="false">
            <i class="bi-grid" title="Visa som kort"></i>
        </button>
    </li>
</ul>

<div class="row">
    <div class="col-md-2" style="border-right: 1px solid lightgrey;">
        <% if (navigation.filters.segment && navigation.filters.segment.length) { %>
            <div class="card card-filter">
                <div class="card-header">
                    Segment
                </div>
                <div class="list-group list-group-flush">
                    <% navigation.filters.segment.forEach(segment => { %>
                        <a href="<%= segment.link %>" class="list-group-item list-group-item-action <%= segment.active ? 'active' : '' %>" aria-current="<%= segment.active ? 'true' : 'false' %>"><%= segment.name %><%- segment.active ? ' <i class="bi-check float-end"></i>' : '' %></a>
                    <% }) %>
                </div>
            </div>
        <% } %>
        <% if (navigation.filters.course && navigation.filters.course.length) { %>
            <div class="card card-filter">
                <div class="card-header">
                    Tillfälle
                </div>
                <div class="list-group list-group-flush">
                    <% navigation.filters.course.forEach(course => { %>
                        <a href="<%= course.link %>" class="list-group-item list-group-item-action <%= course.active ? 'active' : '' %>" aria-current="<%= course.active ? 'true' : 'false' %>"><%= course.name %><%- course.active ? ' <i class="bi-check float-end"></i>' : '' %></a>
                    <% }) %>
                </div>
            </div>
        <% } %>
        <% if (navigation.filters.availability && navigation.filters.availability.length) { %>
            <div class="card card-filter">
                <div class="card-header">
                    Tillgänglighet
                </div>
                <div class="list-group list-group-flush">
                    <% navigation.filters.availability.forEach(availability => { %>
                        <a href="<%= availability.link %>" class="list-group-item list-group-item-action <%= availability.active ? 'active' : '' %>" aria-current="<%= availability.active ? 'true' : 'false' %>"><%= availability.name %><%- availability.active ? ' <i class="bi-check float-end"></i>' : '' %></a>
                    <% }) %>
                </div>
            </div>
        <% } %>
        <% if (navigation.filters.instructor && navigation.filters.instructor.length) { %>
            <div class="card card-filter">
                <div class="card-header">
                    Handledare
                </div>
                <div class="list-group list-group-flush">
                    <% navigation.filters.instructor.forEach(instructor => { %>
                        <a href="<%= instructor.link %>" class="list-group-item list-group-item-action <%= instructor.active ? 'active' : '' %>" aria-current="<%= instructor.active ? 'true' : 'false' %>"><%= instructor.name %><%- instructor.active ? ' <i class="bi-check float-end"></i>' : '' %></a>
                    <% }) %>
                </div>
            </div>
        <% } %>
        <% if (navigation.filters.location && navigation.filters.location.length) { %>
            <div class="card card-filter">
                <div class="card-header">
                    Lokal
                </div>
                <div class="list-group list-group-flush">
                    <% navigation.filters.location.forEach(location => { %>
                        <a href="<%= location.link %>" class="list-group-item list-group-item-action <%= location.active ? 'active' : '' %>" aria-current="<%= location.active ? 'true' : 'false' %>"><%= location.name %><%- location.active ? ' <i class="bi-check float-end"></i>' : '' %></a>
                    <% }) %>
                </div>
            </div>
        <% } %>
        <div class="card card-filter">
            <div class="card-header">
                Datum
            </div>
            <div class="card-body">
                <form method="get" action="">
                    <% navigation.filters.date.params.forEach(p => { %>
                        <input type="hidden" name="<%= p.name %>" value="<%= p.value %>">
                    <% }) %>
                    <p>
                        <label for="start_date">Från:</label><br>
                        <input id="start_date" name="start_date" type="date" class="form-control" value="<%= navigation.filters.date.start_date %>">    
                    </p>
                    <p>
                        <label for="end_date">Till:</label><br>
                        <input id="end_date" name="end_date" type="date" class="form-control" value="<%= navigation.filters.date.end_date %>">    
                    </p>
                    <p>
                        <button type="submit" class="btn btn-sm btn-primary float-end">Visa</button>
                    </p>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-10">
        <div class="tab-content">
            <div class="tab-pane active" id="slots-list" role="tabpanel" aria-labelledby="slots-display-list-tab">
                <% if (!slots.length) { %>
                    <h4 class="alert-heading">Hittade inga tider</h4>
                    <p>Antingen är inga tider utlagda eller så finns det inga tider som motsvarar de filter du valt.</p>
                    <p><a href="?">Återställ alla filter</a></p>
                <% } else { %>
                    <table id="slots" class="table table-hover caption-top mb-3">
                        <caption>
                            Hittade <%= navigation.records_total %> tider:
                        </caption>
                        <thead>
                            <tr>
                                <% if (slots.some(s => s.course_segment_id !== null)) { %><th class=""></th> <% } %>
                                <th class="d-md-table-cell d-md-none">Tillfälle</th>
                                <th class="d-none d-md-table-cell">Tillfälle och tid</th>
                                <th class="d-none d-md-table-cell">Handledare och plats</th>
                                <th class="d-none d-md-table-cell">Tillgänglighet</th>
                                <th class="d-none d-md-table-cell"></th>
                            </tr>
                        </thead>
                        <tbody class="table-group-divider">
                            <% slots.forEach((slot) => { %>
                                <tr class="" data-course_id="<%= slot.course_id %>" data-available="<%= slot.reservable_for_this_user %>">
                                    <% if (slots.some(s => s.course_segment_id !== null)) { %>
                                        <td class="text-center align-middle" style="color:white; background-color:<%= slot.course_segment_hex_color %>;"><strong><%= slot.course_segment_sign %></strong></td>
                                    <% } %>
                                    <td class="d-md-table-cell d-md-none">
                                        <%= slot.course_name %><br>
                                        <strong><%- slot.time_human_readable_sv %></strong><br>
                                        <%= slot.instructor_name %>, <%= slot.location_name %>
                                        <div><%= slot.availability_notice %></div>
                                        <div class="text-small text-muted"><%= slot.reservable_notice %></div>
                                        <div class="float-end button-bar">
                                            <% if (session.user.isAdministrator || session.user.isInstructor) { %>
                                                <% if (session.user.isAdministrator || (session.user.isInstructor && session.user.db_id == slot.instructor_id)) { %>
                                                    <button type="button" title="Redigera" data-bs-toggle="modal" data-bs-target="#editSlot" data-bs-slot-id="<%= slot.id %>" class="btn btn-secondary btn-md"><i class="bi-pencil-fill"></i></button>
                                                    <button type="button" title="Radera" data-bs-toggle="modal" data-bs-target="#deleteSlot" data-bs-slot-id="<%= slot.id %>" class="btn btn-secondary btn-md mx-2"><i class="bi-trash-fill"></i></button>
                                                <% } else { %>
                                                    <button disabled type="button" title="Redigera" class="btn btn-secondary btn-md"><i class="bi-pencil-fill"></i></button>
                                                    <button disabled type="button" title="Radera" class="btn btn-secondary btn-md mx-2"><i class="bi-trash-fill"></i></button>
                                                <% } %>
                                            <% } else { %>
                                                <% if (slot.reservable_for_this_user) { %>
                                                    <button type="button" title="Boka tillfället" class="btn btn-primary btn-md" data-bs-toggle="modal" data-bs-target="#reserveSlot" data-bs-slot-id="<%= slot.id %>" >Boka</button>
                                                <% } else { %>
                                                    <button type="button" title="Tillfället är inte bokningsbart" class="btn btn-secondary btn-md" disabled>Boka</button>
                                                <% } %>
                                            <% } %>
                                        </div>
                                    </td>
                                    <td class="d-none d-md-table-cell"><div><%= slot.course_name %></div><div><strong><%- slot.time_human_readable_sv %></strong></div></td>
                                    <td class="d-none d-md-table-cell"><%= slot.instructor_name %><br><%= slot.location_name %></td>
                                    <td class="d-none d-md-table-cell"><%= slot.availability_notice %>
                                        <% if (session.user.isAdministrator || session.user.isInstructor) { %>
                                            <div class="progress" style="height:20px;">
                                                <div class="progress-bar bg-primary" role="progressbar" style="width: <%= slot.res_percent %>%;" aria-valuenow="<%= slot.res_percent %>" aria-valuemin="0" aria-valuemax="100"><%= slot.res_percent %>%</div>
                                            </div>
                                        <% } else { %>
                                            <div class="text-small text-muted"><%= slot.reservable_notice %></div>
                                        <% } %>
                                    </td>
                                    <% if (session.user.isAdministrator || session.user.isInstructor) { %>
                                        <td class="d-none d-md-table-cell align-top">
                                            <div class="float-end">
                                                <% if (session.user.isAdministrator || (session.user.isInstructor && session.user.db_id == slot.instructor_id)) { %>
                                                    <button type="button" title="Detaljer och bokningar" class="btn btn-secondary btn-md me-2" data-bs-toggle="offcanvas" data-bs-slot-id="<%= slot.id %>" data-bs-target="#offcanvasSlotDetails" aria-controls="offcanvasSlotDetails"><i class="bi-person-lines-fill"></i></button>
                                                    <button type="button" title="Redigera" data-bs-toggle="modal" data-bs-target="#editSlot" data-bs-slot-id="<%= slot.id %>" class="btn btn-secondary btn-md"><i class="bi-pencil-fill"></i></button>
                                                    <button type="button" title="Radera" data-bs-toggle="modal" data-bs-target="#deleteSlot" data-bs-slot-id="<%= slot.id %>" class="btn btn-secondary btn-md mx-2"><i class="bi-trash-fill"></i></button>
                                                <% } else { %>
                                                    <button disabled type="button" title="Detaljer och bokningar" class="btn btn-secondary btn-md me-2" data-bs-toggle="offcanvas" data-bs-slot-id="<%= slot.id %>" data-bs-target="#offcanvasSlotDetails" aria-controls="offcanvasSlotDetails"><i class="bi-person-lines-fill"></i></button>
                                                    <button disabled type="button" title="Redigera" class="btn btn-secondary btn-md"><i class="bi-pencil-fill"></i></button>
                                                    <button disabled type="button" title="Radera" class="btn btn-secondary btn-md mx-2"><i class="bi-trash-fill"></i></button>
                                                <% } %>
                                            </div>
                                        </td>
                                    <% } else { %>
                                        <td class="d-none d-md-table-cell align-top">
                                            <div class="float-end">
                                                <% if (slot.reservable_for_this_user) { %>
                                                    <button type="button" title="Boka tillfället" class="btn btn-primary btn-md" data-bs-toggle="modal" data-bs-target="#reserveSlot" data-bs-slot-id="<%= slot.id %>" >Boka</button>
                                                <% } else { %>
                                                    <button type="button" title="Tillfället är inte bokningsbart" class="btn btn-secondary btn-md" disabled>Boka</button>
                                                <% } %>    
                                            </div>
                                        </td>
                                    <% } %>
                                </tr>
                            <% }); %>
                        </tbody>
                    </table>
                <% } %>
            </div>
            <div class="tab-pane" id="slots-grid" role="tabpanel" aria-labelledby="slots-display-grid-tab">
                <% if (!slots.length) { %>
                    <h4 class="alert-heading">Hittade inga tider</h4>
                    <p>Antingen är inga tider utlagda eller så finns det inga tider som motsvarar de filter du valt.</p>
                    <p><a href="?">Återställ alla filter</a></p>
                <% } else { %>
                    <div class="d-flex align-content-start flex-wrap align-items-stretch">
                        <% slots.forEach((slot) => { %>
                            <div class="card card-slot rounded-0" style="min-width: 350px; max-width: 400px;" data-course_id="<%= slot.course_id %>" data-available="<%= slot.reservable_for_this_user %>">
                                <div class="card-header">
                                    <%= slot.course_name %>
                                    <span class="badge float-end rounded-0 p-2" style="color: white; background-color: <%= slot.course_segment_hex_color %>"><%= slot.course_segment_sign %></span>
                                </div>
                                <div class="card-body">
                                    <!--<div><%- slot.time_human_readable_sv.split("kl")[0] %><br><%- slot.time_human_readable_sv.split("kl")[1] %></div>-->
                                    <div class="d-flex">
                                        <div class="flex-shrink-0">
                                        <i class="bi-calendar-event fs-2"></i>
                                        </div>
                                        <div class="flex-grow-1 ms-3">
                                            <%- slot.time_human_readable_sv.split("kl")[0] %><br><%- slot.time_human_readable_sv.split("kl")[1] %>
                                        </div>
                                    </div>
                                    <small class="text-muted"><%= slot.instructor_name %>, <%= slot.location_name %></small>
                                    <div>
                                        <small class="my-2"><%= slot.availability_notice %></small>
                                    </div>
                                    <% if (session.user.isAdministrator || session.user.isInstructor) { %>
                                        <div class="progress" style="height:20px;">
                                            <div class="progress-bar bg-primary" role="progressbar" style="width: <%= slot.res_percent %>%;" aria-valuenow="<%= slot.res_percent %>" aria-valuemin="0" aria-valuemax="100"><%= slot.res_percent %>%</div>
                                        </div>
                                    <% } else { %>
                                        <div class="text-small text-muted"><%= slot.reservable_notice %></div>
                                    <% } %>
                                </div>
                                <div class="card-footer">
                                    <div class="d-flex justify-content-end align-items-start">
                                        <% if (session.user.isAdministrator || session.user.isInstructor) { %>
                                            <% if (session.user.isAdministrator || (session.user.isInstructor && session.user.db_id == slot.instructor_id)) { %>
                                                <button type="button" title="Detaljer och bokningar" class="btn btn-secondary btn-md me-2" data-bs-toggle="offcanvas" data-bs-slot-id="<%= slot.id %>" data-bs-target="#offcanvasSlotDetails" aria-controls="offcanvasSlotDetails"><i class="bi-person-lines-fill"></i></button>
                                                <button type="button" title="Redigera" data-bs-toggle="modal" data-bs-target="#editSlot" data-bs-slot-id="<%= slot.id %>" class="btn btn-secondary btn-md"><i class="bi-pencil-fill"></i></button>
                                                <button type="button" title="Radera" data-bs-toggle="modal" data-bs-target="#deleteSlot" data-bs-slot-id="<%= slot.id %>" class="btn btn-secondary btn-md mx-2"><i class="bi-trash-fill"></i></button>
                                            <% } else { %>
                                                <button disabled type="button" title="Detaljer och bokningar" class="btn btn-secondary btn-md me-2" data-bs-toggle="offcanvas" data-bs-slot-id="<%= slot.id %>" data-bs-target="#offcanvasSlotDetails" aria-controls="offcanvasSlotDetails"><i class="bi-person-lines-fill"></i></button>
                                                <button disabled type="button" title="Redigera" class="btn btn-secondary btn-md"><i class="bi-pencil-fill"></i></button>
                                                <button disabled type="button" title="Radera" class="btn btn-secondary btn-md mx-2"><i class="bi-trash-fill"></i></button>
                                            <% } %>
                                        <% } else { %>
                                            <% if (slot.reservable_for_this_user) { %>
                                                <button type="button" title="Boka tillfället" class="btn btn-primary btn-md" data-bs-toggle="modal" data-bs-target="#reserveSlot" data-bs-slot-id="<%= slot.id %>" >Boka</button>
                                            <% } else { %>
                                                <button type="button" title="Tillfället är inte bokningsbart" class="btn btn-secondary btn-md" disabled>Boka</button>
                                            <% } %>
                                        <% } %>
                                    </div>
                                </div>
                            </div>
                        <% }); %>
                    </div>
                <% } %>
            </div>
        </div>
    </div>        
</div>

<% if (navigation.pages_total && navigation.pages_total > 1) { %>
    <nav aria-label="Page navigation" style="margin-top: 16px;">
        <ul class="pagination justify-content-end flex-wrap">
            <% if (navigation.current_page > 1) { %>
                <li class="page-item"><a class="page-link" href="?<%= navigation.link.previous_page %>">Föregående</a></li>
            <% } else { %>
                <li class="page-item disabled"><span class="page-link">Föregående</span></li>
            <% } %>
            <% navigation.pages.forEach(p => { %>
                <% if (p.current) { %>
                    <li class="page-item active"><span class="page-link"><%= p.page %></span></li>
                <% } else { %>
                    <li class="page-item"><a class="page-link" href="?<%= p.link %>"><%= p.page %></a></li>
                <% } %>
            <% }) %>
            <% if (navigation.current_page < navigation.pages_total) { %>
                <li class="page-item"><a class="page-link" href="?<%= navigation.link.next_page %>">Nästa</a></li>
            <% } else { %>
                <li class="page-item disabled"><span class="page-link">Nästa</span></li>
            <% } %>
        </ul>
    </nav>
<% } %>

<% if (session.user.isAdministrator || session.user.isInstructor) { %>
    <%- include('slots_admin_modal_new'); %>
    <%- include('slots_admin_modal_edit'); %>
    <%- include('slots_admin_modal_delete'); %>
    <%- include('instructor_upcoming_slots_offcanvas_details'); %>
<% } else { %>
    <%- include('reservations_public_modal_new'); %>
    <%- include('reservations_public_modal_delete'); %>
<% } %>
