<% if (user.isAdministrator) { %>
    <div class="row my-3">
        <div class="col">
            <button type="button" class="btn btn-md btn-secondary" data-bs-toggle="modal" data-bs-target="#newSlotSeries">Lägg till nya tider</button>
        </div>    
    </div>
<% } %>
<div class="card slots-filter">
    <div class="card-header">
        Filtrera
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-3">
                <select class="form-select form-select-sm" aria-label="Filtrera på tillfällen">
                    <option selected value="">Alla tillfällen</option>
                    <% courses.forEach((course) => { %>
                        <option value="<%= course.id %>"><%= course.name %></option>                                
                    <% }); %>
                </select>
            </div>
            <div class="col-3">
                <select class="form-select form-select-sm" aria-label="Filtrera på handledare">
                    <option selected value="">Alla handledare</option>
                    <% instructors.forEach((instructor) => { %>
                        <option value="<%= instructor.id %>"><%= instructor.name %></option>                                
                    <% }); %>
                </select>
            </div>
            <div class="col-3">
                <select class="form-select form-select-sm" aria-label="Filtrera på tillgänglighet">
                    <option value="1">Endast lediga tider</option>
                    <option selected value="2">Visa alla tider</option>
                </select>
            </div>
        </div>
    </div>
</div>
<% if (!slots.length) { %>
    <div class="alert alert-secondary my-3" role="alert">
        <h4 class="alert-heading">Det finns inga tillgängliga tider</h4>
        <p>Här kan man skriva något mer om när det släpps tider eller annan matnyttig information.</p>
    </div>
<% } else { %>
<table class="table table-hover my-3">
    <thead>
        <td>Tillfälle</td>
        <td>Tid</td>
        <td>Plats</td>
        <td>Handledare</td>
        <td>Tillgänglighet</td>
    </thead>
    <tbody class="table-group-divider">
        <% slots.forEach((slot) => { %>
            <tr>
                <td><%= slot.course_name %></td>
                <td><%- slot.time_human_readable %></td>
                <td><%= slot.location_name %></td>
                <td><%= slot.instructor_name %></td>
                <td><%= slot.type %>, <%= slot.max %></td>
                <% if (user.isAdministrator) { %>
                    <td>
                        <button type="button" title="Redigera" data-bs-toggle="modal" data-bs-target="#editSlot" data-bs-slot-id="<%= slot.id %>" class="btn btn-secondary btn-sm float-end"><i class="bi-pencil-fill"></i></button>
                        <button type="button" title="Radera" data-bs-slot-id="<%= slot.id %>" class="btn btn-secondary btn-sm float-end mx-2"><i class="bi-trash-fill"></i></button>
                        <button disabled type="button" title="Boka tiden" class="btn btn-primary btn-sm float-end">Boka <i class="bi-bag-check-fill"></i></button>
                    </td>
                <% } else { %>
                    <td>
                        <button type="button" title="Boka tiden" class="btn btn-primary btn-sm float-end">Boka <i class="bi-bag-check-fill"></i></button>
                    </td>
                <% } %>
            </tr>
        <% }); %>
    </tbody>
</table>
<% } %>

<% if (user.isAdministrator) { %>
    <div class="modal modal-lg fade" id="newSlotSeries" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="newSlotSeriesLabel" aria-hidden="true">
        <div class="modal-dialog">
            <form class="needs-validation" id="newSlotForm" novalidate method="post" action="/api/admin/slot">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="newSlotSeriesLabel">Lägg till ny serie bokningsbara tider</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Stäng"></button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-sm-5">
                                <p>
                                    <label for="course_id" class="form-label">Tillfälle:</label>
                                    <select required id="course_id" name="course_id" class="form-select" aria-label="Välj ett kurstillfälle">
                                        <option value="" selected disabled>Välj...</option>
                                        <% courses.forEach((course) => { %>
                                            <option value="<%= course.id %>"><%= course.name %></option>                                
                                        <% }); %>
                                    </select>
                                    <div class="invalid-feedback">
                                        Du måste välja ett tillfälle/kurs.
                                    </div>
                                </p>
                                <p>
                                    <label for="instructor_id" class="form-label">Handledare:</label>
                                    <select required id="instructor_id" name="instructor_id" class="form-select" aria-label="Välj en handledare">
                                        <option value="" selected disabled>Välj...</option>
                                        <% instructors.forEach((instructor) => { %>
                                            <option value="<%= instructor.id %>"><%= instructor.name %></option>                                
                                        <% }); %>
                                    </select>
                                </p>
                                <p>
                                    <label for="location_id" class="form-label">Lokal:</label>
                                    <select required id="location_id" name="location_id" class="form-select" aria-label="Välj en lokal">
                                        <option value="" selected disabled>Välj...</option>
                                        <% locations.forEach((location) => { %>
                                            <option value="<%= location.id %>"><%= location.name %></option>                                
                                        <% }); %>
                                    </select>
                                </p>
                            </div>
                            <div class="col-sm-7">
                                <div id="slots">
                                    <div class="row slot_template" id="slot_template">
                                        <div class="col-sm-6">
                                            <label for="slot_time_start_" class="form-label">Startar:</label>
                                            <input type="datetime-local" class="form-control" id="slot_time_start_" name="slot_time_start_">
                                        </div>
                                        <div class="col-sm-6">
                                            <label for="slot_time_end_" class="form-label">Slutar:</label>
                                            <input type="datetime-local" class="form-control" id="slot_time_end_" name="slot_time_end_">
                                        </div>
                                    </div>
                                    <div class="row slot" id="slot_1">
                                        <div class="col-sm-6">
                                            <label for="slot_time_start_1" class="form-label">Startar:</label>
                                            <input type="datetime-local" class="form-control" id="slot_time_start_1" name="slot_time_start_1">
                                        </div>
                                        <div class="col-sm-6">
                                            <label for="slot_time_end_1" class="form-label">Slutar:</label>
                                            <input type="datetime-local" class="form-control" id="slot_time_end_1" name="slot_time_end_1">
                                        </div>
                                    </div>
                                </div>
                                <div class="row" id="slot_adder">
                                    <div class="col my-3">
                                        <button type="button" id="slot_new_slot" class="btn btn-sm btn-dark float-end">Lägg till en tid till</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Stäng</button>
                        <button type="submit" class="btn btn-primary" id="newSlotSaveButton">Spara</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="modal modal-lg fade" id="editSlot" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="editSlotLabel" aria-hidden="true">
        <div class="modal-dialog">
            <form class="needs-validation" id="editSlotForm" novalidate method="post" action="/api/admin/slot">
                <input type="hidden" id="e_slot_id" name="slot_id" value="" />
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editSlotLabel">Redigera bokningsbar tid</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Stäng"></button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-sm-5">
                                <p>
                                    <label for="e_course_id" class="form-label">Tillfälle:</label>
                                    <select required id="e_course_id" name="course_id" class="form-select" aria-label="Välj ett kurstillfälle">
                                        <option value="" disabled>Välj...</option>
                                        <% courses.forEach((course) => { %>
                                            <option value="<%= course.id %>"><%= course.name %></option>                                
                                        <% }); %>
                                    </select>
                                    <div class="invalid-feedback">
                                        Du måste välja ett tillfälle/kurs.
                                    </div>
                                </p>
                                <p>
                                    <label for="e_instructor_id" class="form-label">Handledare:</label>
                                    <select required id="e_instructor_id" name="instructor_id" class="form-select" aria-label="Välj en handledare">
                                        <option value="" disabled>Välj...</option>
                                        <% instructors.forEach((instructor) => { %>
                                            <option value="<%= instructor.id %>"><%= instructor.name %></option>                                
                                        <% }); %>
                                    </select>
                                </p>
                                <p>
                                    <label for="e_location_id" class="form-label">Lokal:</label>
                                    <select required id="e_location_id" name="location_id" class="form-select" aria-label="Välj en lokal">
                                        <option value="" disabled>Välj...</option>
                                        <% locations.forEach((location) => { %>
                                            <option value="<%= location.id %>"><%= location.name %></option>                                
                                        <% }); %>
                                    </select>
                                </p>
                            </div>
                            <div class="col-sm-7">
                                <div id="slots">
                                    <div class="row slot">
                                        <div class="col-sm-6">
                                            <p>
                                                <label for="e_slot_time_start" class="form-label">Startar:</label>
                                                <input type="datetime-local" class="form-control" id="e_slot_time_start" name="slot_time_start">    
                                            </p>
                                        </div>
                                        <div class="col-sm-6">
                                            <p>
                                                <label for="e_slot_time_end" class="form-label">Slutar:</label>
                                                <input type="datetime-local" class="form-control" id="e_slot_time_end" name="slot_time_end">    
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <label for="reservations">Bokningar:</label>
                                <div id="reservations" class=""></div>
                            </div>
                        </div>
                        <div class="row d-none" id="editSlotError">
                            <div class="col">
                                <div class="alert alert-danger" role="alert">
                                    <strong>Ett fel uppstod:</strong> <span></span>
                                </div>    
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Stäng</button>
                        <button type="submit" class="btn btn-primary" id="editSlotSaveButton">Uppdatera</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
<% } %>
