<div class="card slots-filter">
    <div class="card-header">
        Filtrera
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-3">
                <select class="form-select form-select-sm" aria-label="Filtrera på tillfällen">
                    <option selected value="">Alla tillfällen</option>
                    <% courses.forEach((course) => { %>
                        <option value="<%= course.id %>"><%= course.name %></option>                                
                    <% }); %>
                </select>
            </div>
            <div class="col-3">
                <select class="form-select form-select-sm" aria-label="Filtrera på handledare">
                    <option selected value="">Alla handledare</option>
                    <% instructors.forEach((instructor) => { %>
                        <option value="<%= instructor.id %>"><%= instructor.name %></option>                                
                    <% }); %>
                </select>
            </div>
            <div class="col-3">
                <select class="form-select form-select-sm" aria-label="Filtrera på tillgänglighet">
                    <option selected value="1">Endast lediga tider</option>
                    <option value="2">Visa alla tider</option>
                </select>
            </div>
            <% if (user.isAdministrator) { %>
                <div class="col-3">
                    <button type="button" class="btn btn-sm btn-primary float-end" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Lägg till nya tider</button>
                </div>
            <% } %>
        </div>
    </div>
</div>
<table class="table table-hover my-3">
    <thead>
        <td>Tillfälle</td>
        <td>Tid</td>
        <td>Plats</td>
        <td>Handledare</td>
        <td>Tillgänglighet</td>
    </thead>
    <tbody class="table-group-divider">
        <tr>
            <td>Handledningstillfälle 1</td>
            <td>Ons 11 januari kl 14:00&ndash;15:00</td>
            <td>Lokalen 1</td>
            <td>Handledaren 1</td>
            <td>2/2 lediga platser</td>
            <td><button class="btn btn-primary btn-sm float-end">Boka</button></td>
        </tr>
        <tr>
            <td>Handledningstillfälle 1</td>
            <td>Fre 13 januari kl 11:00&ndash;12:00</td>
            <td>Lokalen 1</td>
            <td>Handledaren 1</td>
            <td>1/2 lediga platser</td>
            <td><button class="btn btn-primary btn-sm float-end">Boka</button></td>
        </tr>
        <tr>
            <td>Handledningstillfälle 1</td>
            <td>Mån 16 januari kl 09:00&ndash;11:00</td>
            <td>Lokalen 2</td>
            <td>Handledaren 1</td>
            <td>Fullbokad</td>
            <td><button class="btn btn-primary btn-sm float-end disabled">Boka</button></td>
        </tr>
    </tbody>
</table>

<% if (user.isAdministrator) { %>
    <div class="modal modal-lg fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <form class="needs-validation" id="newSlotForm" novalidate method="post" action="/api/admin/slot">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Lägg till ny serie bokningsbara tider</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Stäng"></button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-sm-5">
                                <p>
                                    <label for="course_id" class="form-label">Tillfälle:</label>
                                    <select required id="course_id" name="course_id" class="form-select" aria-label="Välj ett kurstillfälle">
                                        <option value="" selected disabled>Välj...</option>
                                        <% courses.forEach((course) => { %>
                                            <option value="<%= course.id %>"><%= course.name %></option>                                
                                        <% }); %>
                                    </select>
                                    <div class="invalid-feedback">
                                        Du måste välja ett tillfälle/kurs.
                                    </div>
                                </p>
                                <p>
                                    <label for="instructor_id" class="form-label">Handledare:</label>
                                    <select required id="instructor_id" name="instructor_id" class="form-select" aria-label="Välj en handledare">
                                        <option value="" selected disabled>Välj...</option>
                                        <% instructors.forEach((instructor) => { %>
                                            <option value="<%= instructor.id %>"><%= instructor.name %></option>                                
                                        <% }); %>
                                    </select>
                                </p>
                                <p>
                                    <label for="location_id" class="form-label">Lokal:</label>
                                    <select required id="location_id" name="location_id" class="form-select" aria-label="Välj en lokal">
                                        <option value="" selected disabled>Välj...</option>
                                        <% locations.forEach((location) => { %>
                                            <option value="<%= location.id %>"><%= location.name %></option>                                
                                        <% }); %>
                                    </select>
                                </p>
                            </div>
                            <div class="col-sm-7">
                                <div id="slots">
                                    <div class="row slot_template" id="slot_template">
                                        <div class="col-sm-6">
                                            <label for="slot_time_start_" class="form-label">Startar:</label>
                                            <input type="datetime-local" class="form-control" id="slot_time_start_" name="slot_time_start_">
                                        </div>
                                        <div class="col-sm-6">
                                            <label for="slot_time_end_" class="form-label">Slutar:</label>
                                            <input type="datetime-local" class="form-control" id="slot_time_end_" name="slot_time_end_">
                                        </div>
                                    </div>
                                    <div class="row slot" id="slot_1">
                                        <div class="col-sm-6">
                                            <label for="slot_time_start_1" class="form-label">Startar:</label>
                                            <input type="datetime-local" class="form-control" id="slot_time_start_1" name="slot_time_start">
                                        </div>
                                        <div class="col-sm-6">
                                            <label for="slot_time_end_1" class="form-label">Slutar:</label>
                                            <input type="datetime-local" class="form-control" id="slot_time_end_1" name="slot_time_end">
                                        </div>
                                    </div>
                                </div>
                                <div class="row" id="slot_adder">
                                    <div class="col my-3">
                                        <button type="button" id="slot_new_slot" class="btn btn-sm btn-dark float-end">Lägg till en tid till</button>
                                    </div>
                                </div>
                        </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Stäng</button>
                        <button type="submit" class="btn btn-primary" id="newSlotSaveButton">Spara</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
<% } %>
