<% if (session.user.isAdministrator || session.user.isInstructor) { %>
    <div class="row my-3">
        <div class="col">
            <button type="button" class="btn btn-md btn-secondary" data-bs-toggle="modal" data-bs-target="#newSlotSeries">Lägg till nya tider</button>
        </div>    
    </div>
<% } %>
<!--
<div class="card slots-filter">
    <div class="card-header">
        Filtrera
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-3">
                <select id="slotFilterCourse" class="form-select form-select-sm" aria-label="Filtrera på tillfällen">
                    <option selected value="">Alla tillfällen</option>
                    <% courses.forEach((course) => { %>
                        <option value="<%= course.id %>"><%= course.name %></option>                                
                    <% }); %>
                </select>
            </div>
            <div class="col-md-3">
                <select id="slotFilterInstructor" class="form-select form-select-sm" aria-label="Filtrera på handledare">
                    <option selected value="">Alla handledare</option>
                    <% instructors.forEach((instructor) => { %>
                        <option value="<%= instructor.id %>"><%= instructor.name %></option>                                
                    <% }); %>
                </select>
            </div>
            <div class="col-md-3">
                <select id="slotFilterAvailability" class="form-select form-select-sm" aria-label="Filtrera på tillgänglighet">
                    <option value="1">Endast lediga tider</option>
                    <option selected value="2">Visa alla tider</option>
                </select>
            </div>
        </div>
    </div>
</div>
-->
<% if (segments && segments.length) { %>
    <ul class="nav nav-pills">
        <% segments.forEach(segment => { %>
            <li class="nav-item">
                <a class="nav-link <%= segment.active ? 'active' : '' %>" href="?segment=<%= segment.id %>"><%= segment.name %></a>
            </li>      
        <% }) %>
    </ul>
<% } %>
<% if (!slots.length) { %>
    <div class="alert alert-primary my-3" role="alert">
        <h4 class="alert-heading">Det finns inga tider att boka</h4>
        <p>Kika in igen senare eller vänta tills en handledare meddelar att nya tider finns att boka.</p>
    </div>
<% } else { %>
<table id="slots" class="table table-hover my-3">
    <thead>
        <tr>
            <td class="d-md-table-cell d-md-none">Tillfälle</td>
            <td class="d-none d-md-table-cell">Tillfälle och tid</td>
            <td class="d-none d-md-table-cell">Handledare och plats</td>
            <td class="d-none d-md-table-cell">Tillgänglighet</td>
            <td class="d-none d-md-table-cell"></td>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        <% slots.forEach((slot) => { %>
            <tr class="" data-course_id="<%= slot.course_id %>" data-available="<%= slot.reservable_for_this_user %>">
                <td class="d-md-table-cell d-md-none">
                    <%= slot.course_name %><br>
                    <strong><%- slot.time_human_readable_sv %></strong><br>
                    <%= slot.instructor_name %>, <%= slot.location_name %>
                    <div>
                        <% if (slot.res_max == slot.res_now) { %>
                            Fullbokad, 
                        <% } else { %>
                            Tillgänglig, <%= slot.res_max-slot.res_now %> av 
                        <% } %>
                        <%= slot.res_max %>
                        <% if (slot.type == "group") { %>
                            <% if (slot.res_max > 1) { %>
                                grupper
                            <% } else { %>
                                grupp
                            <% } %>
                        <% } else { %>
                            personer
                        <% } %>
                    </div>
                    <div class="text-small text-muted"><%= slot.reservable_notice %></div>
                    <div class="float-end button-bar">
                        <% if (session.user.isAdministrator || session.user.isInstructor) { %>
                            <% if (session.user.isAdministrator || (session.user.isInstructor && session.user.db_id == slot.instructor_id)) { %>
                                <button type="button" title="Redigera" data-bs-toggle="modal" data-bs-target="#editSlot" data-bs-slot-id="<%= slot.id %>" class="btn btn-secondary btn-md"><i class="bi-pencil-fill"></i></button>
                                <button type="button" title="Radera" data-bs-toggle="modal" data-bs-target="#deleteSlot" data-bs-slot-id="<%= slot.id %>" class="btn btn-secondary btn-md mx-2"><i class="bi-trash-fill"></i></button>
                            <% } else { %>
                                <button disabled type="button" title="Redigera" class="btn btn-secondary btn-md"><i class="bi-pencil-fill"></i></button>
                                <button disabled type="button" title="Radera" class="btn btn-secondary btn-md mx-2"><i class="bi-trash-fill"></i></button>
                            <% } %>
                        <% } else { %>
                            <% if (slot.reservable_for_this_user) { %>
                                <button type="button" title="Boka tillfället" class="btn btn-primary btn-md" data-bs-toggle="modal" data-bs-target="#reserveSlot" data-bs-slot-id="<%= slot.id %>" >Boka</button>
                            <% } else { %>
                                <button type="button" title="Tillfället är inte bokningsbart" class="btn btn-secondary btn-md" disabled>Boka</button>
                            <% } %>
                        <% } %>
                    </div>
                </td>
                <td class="d-none d-md-table-cell"><div><%= slot.course_name %></div><div><%- slot.time_human_readable_sv %></div></td>
                <td class="d-none d-md-table-cell"><%= slot.instructor_name %><br><%= slot.location_name %></td>
                <td class="d-none d-md-table-cell">
                    <% if (slot.res_max == slot.res_now) { %>
                        Fullbokad, 
                    <% } else { %>
                        Tillgänglig, <%= slot.res_max-slot.res_now %> av 
                    <% } %>
                    <%= slot.res_max %>
                    <% if (slot.type == "group") { %>
                        <% if (slot.res_max > 1) { %>
                            grupper
                        <% } else { %>
                            grupp
                        <% } %>
                    <% } else { %>
                        personer
                    <% } %>
                    <div class="text-small text-muted"><%= slot.reservable_notice %></div>
                </td>
                <% if (session.user.isAdministrator || session.user.isInstructor) { %>
                    <td class="d-none d-md-table-cell align-top">
                        <div class="float-end">
                            <% if (session.user.isAdministrator || (session.user.isInstructor && session.user.db_id == slot.instructor_id)) { %>
                                <button type="button" title="Redigera" data-bs-toggle="modal" data-bs-target="#editSlot" data-bs-slot-id="<%= slot.id %>" class="btn btn-secondary btn-md"><i class="bi-pencil-fill"></i></button>
                                <button type="button" title="Radera" data-bs-toggle="modal" data-bs-target="#deleteSlot" data-bs-slot-id="<%= slot.id %>" class="btn btn-secondary btn-md mx-2"><i class="bi-trash-fill"></i></button>
                            <% } else { %>
                                <button disabled type="button" title="Redigera" class="btn btn-secondary btn-md"><i class="bi-pencil-fill"></i></button>
                                <button disabled type="button" title="Radera" class="btn btn-secondary btn-md mx-2"><i class="bi-trash-fill"></i></button>
                            <% } %>
                        </div>
                    </td>
                <% } else { %>
                    <td class="d-none d-md-table-cell align-top">
                        <div class="float-end">
                            <% if (slot.reservable_for_this_user) { %>
                                <button type="button" title="Boka tillfället" class="btn btn-primary btn-md" data-bs-toggle="modal" data-bs-target="#reserveSlot" data-bs-slot-id="<%= slot.id %>" >Boka</button>
                            <% } else { %>
                                <button type="button" title="Tillfället är inte bokningsbart" class="btn btn-secondary btn-md" disabled>Boka</button>
                            <% } %>    
                        </div>
                    </td>
                <% } %>
            </tr>
        <% }); %>
    </tbody>
</table>
<% } %>

<% if (session.user.isAdministrator || session.user.isInstructor) { %>
    <%- include('slots_admin_modal_new'); %>
    <%- include('slots_admin_modal_edit'); %>
    <%- include('slots_admin_modal_delete'); %>
<% } else { %>
    <%- include('reservations_public_modal_new'); %>
    <%- include('reservations_public_modal_delete'); %>
<% } %>
