<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../../partials/head'); %>
    </head>

    <body class="container-fluid float-start">

        <header>
            <%- include('../../partials/header', { user: session.user }); %>
        </header>

        <main class="container-fluid py-2">
            <h1>Mina tillfällen</h1>
            <p>Här ser du dina kommande tillfällen och vilka som är bokade på dem.</p>

            <% slots.forEach(slot => { %>
                <div class="card my-2" data-slot-id="<%= slot.id %>">
                    <div class="card-header">
                        <%= slot.course_name %>
                        <div class="progress float-end col-4" style="height: 24px;">
                        <div class="progress-bar" role="progressbar" style="width: <%= slot.res_percent %>%;" aria-valuenow="<%= slot.res_percent %>" aria-valuemin="0" aria-valuemax="100"><%= slot.res_percent %>%</div>
                        </div>
                    </div>
                    <div class="card-body">
                        <h6 class="card-subtitle mb-2 text-muted"><%- slot.time_human_readable_sv %></h6>
                        <p class="card-text">
                            <%= slot.location_name %>                          
                        </p>
                        <p class="card-text">
                            <%= (slot.type == "group" ? "Grupptillfälle, max " + slot.res_max + " grupper" : "Individuellt tillfälle, max " + slot.res_max + " personer") %>
                        </p>
                        <% if (slot.reservations && slot.reservations.length) { %>
                            <p class="card-text">
                                <div>Bokade:</div> <% slot.reservations.forEach(r => { %>
                                    <div><%= r.type == "group" ? r.canvas_group_name : r.canvas_user_name %></div>
                                <% }) %>
                            </p>
                        <% } %>
                        <div class="button-bar">
                            <button type="button" title="Redigera" data-bs-toggle="modal" data-bs-target="#editSlot" data-bs-slot-id="<%= slot.id %>" class="btn btn-secondary btn-md"><i class="bi-pencil-fill"></i> Redigera</button>
                            <button type="button" title="Radera" data-bs-toggle="modal" data-bs-target="#deleteSlot" data-bs-slot-id="<%= slot.id %>" class="btn btn-secondary btn-md"><i class="bi-trash-fill"></i> Radera</button>
                            <button class="btn btn-primary btn-md" type="button" data-bs-toggle="offcanvas" data-bs-slot-id="<%= slot.id %>" data-bs-target="#offcanvasSlotDetails" aria-controls="offcanvasSlotDetails">Mer information</button>
                        </div>
                    </div>
                </div>
            <% }) %>
        </main>

        <footer>
            <%- include('../../partials/footer', { version: version }); %>
        </footer>

        <%- include('../../partials/instructor_upcoming_slots_offcanvas_details.ejs'); %>
    </body>
</html>