<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../../partials/head'); %>
    </head>

    <body class="container-fluid float-start">

        <header>
            <%- include('../../partials/header', { user: session.user }); %>
        </header>

        <main>
            <div class="container-fluid py-2">
                <h1>Mina tillfällen</h1>
                <p>Här ser du dina kommande tillfällen och vilka som är bokade på dem.</p>
            </div>

            <div class="container-fluid py-2">
                <% slots.forEach(slot => { %>
                    <div class="card my-2" data-slot-id="<%= slot.id %>">
                        <div class="card-header">
                          <%= slot.course_name %>
                          <div class="progress float-end col-4" style="height: 24px;">
                            <div class="progress-bar" role="progressbar" style="width: <%= slot.res_percent %>%;" aria-valuenow="<%= slot.res_percent %>" aria-valuemin="0" aria-valuemax="100"><%= slot.res_percent %>%</div>
                          </div>
                        </div>
                        <div class="card-body">
                            <h6 class="card-subtitle mb-2 text-muted"><%- slot.time_human_readable_sv %></h6>
                            <p class="card-text">
                                <%= slot.location_name %>                          
                            </p>
                            <p class="card-text">
                                <%= (slot.type == "group" ? "Grupptillfälle, max " + slot.res_max + " grupper" : "Individuellt tillfälle, max " + slot.res_max + " personer") %>
                            </p>
                            <% if (slot.reservations && slot.reservations.length) { %>
                                <p class="card-text">
                                    <div>Bokade:</div> <% slot.reservations.forEach(r => { %>
                                        <div><%= r.type == "group" ? r.canvas_group_name : r.canvas_user_name %></div>
                                    <% }) %>
                                </p>
                            <% } %>
                        </div>
                    </div>
                <% }) %>
            </div>
        </main>


        <footer>
            <%- include('../../partials/footer', { version: version }); %>
        </footer>

    </body>
</html>