<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../../partials/head'); %>
</head>
<body class="container-fluid float-start">

<header>
  <%- include('../../partials/header', { user: session.user }); %>
</header>

<main>
    <div class="container-fluid py-2">
        <h1>Mina bokningar</h1>
        <p>Här ser du bokningar som du personligen eller någon medlem i en grupp du är med i har gjort.</p>
    </div>

    <div class="container-fluid py-2">
      <% if (reservationDeleted) { %>
        <div class="alert alert-success" role="alert">
          <strong>Tillfället "<%= reservationTitle %>" har avbokats.</strong>
          <% if (reservationGroup) { %>
            Hela gruppen kommer även att få en bekräftelse till Canvas Inbox om detta.
          <% } else { %>
            Du kommer även att få en bekräftelse till Canvas Inbox om detta.
          <% } %>
        </div>
      <% } %>
      <% if (reservationDone) { %>
        <div class="alert alert-success" role="alert">
          <strong>Tillfället har bokats.</strong>
          <% if (reservationGroup) { %>
            Hela gruppen kommer även att få en bekräftelse till Canvas Inbox om detta.
          <% } else { %>
            Du kommer även att få en bekräftelse till Canvas Inbox om detta.
          <% } %>
        </div>
      <% } %>

      <% reservations.filter(r => r.is_passed == false).forEach(reservation => { %>
        <div class="card <% if (reservation.just_created) { %>border-success <% } %>my-2" data-reservation-id="<%= reservation.id %>">
          <div class="card-header">
            <% if (reservation.canvas_group_id) { %>
              Gruppbokning: <%= reservation.canvas_group_name %>
            <% } else { %>
              Individuell bokning: <%= reservation.canvas_user_name %>
            <% } %>
          </div>
          <div class="card-body">
            <h5 class="card-title"><%= reservation.course_name %></h5>
            <h6 class="card-subtitle mb-2 text-muted"><%- reservation.time_human_readable_sv %></h6>
            <p class="card-text">
              Handledare: <%= reservation.instructor_name %>, plats: <%= reservation.location_name %>
              <% if (reservation.location_cmap_id) { %>
                <a href="https://maps.chalmers.se/#<%= reservation.location_cmap_id %>" target="_blank"><i class="bi bi-geo-alt-fill" data-toggle="tooltip" data-placement="bottom" title="Hitta till lokalen med Chalmers Maps"></i></a>
              <% } else if (reservation.location_description) { %>
                <i class="bi bi-info-circle-fill" data-toggle="tooltip" data-placement="bottom" title="<%= reservation.location_description %>"></i>
              <% } %>
              <% if (reservation.location_url) { %>
                <a href="<%= reservation.location_url %>" target="_blank"><%= reservation.location_url %></a>
              <% } %>
            </p>
            <div class="" id="reservationDetails<%= reservation.id %>">
              <p class="card-text">
                Bokad av:<br><strong><%= reservation.canvas_user_name %></strong> 
                <% if (reservation.canvas_group_id) { %>
                  för gruppen <strong><%= reservation.canvas_group_name %></strong>
                <% } %>
              </p>
              <% if (reservation.other_reservations && reservation.other_reservations.length) { %>
                <p>Andra bokningar: <br>
                  <%= reservation.other_reservations.map(r => r.canvas_group_name).join(", ") %>
                </p>
              <% } %>
              <% if (reservation.message) { %>
                <p class="card-text"><strong>Meddelande/frågor till handledare:</strong><br><%= reservation.message %></p>
              <% } %>
              <% if (reservation.other_reservations && reservation.max_groups == reservation.res_now) { %>
                <p class="card-text"><strong>Notera:</strong> det finns andra grupper bokade på tillfället, som nu är fullsatt (<%= reservation.max_groups %> grupper).</p>
              <% } %>
              <% if (reservation.max_groups > reservation.res_now) { %>
                <p class="card-text"><strong>Notera:</strong> det finns plats för fler grupper (totalt <%= reservation.max_groups %> grupper).</p>
              <% } %>
              <p class="card-text">
                Avbokningspolicy:<br>
                <%= reservation.cancellation_policy_hours %> timmar innan start.
                <% if (!reservation.is_cancelable) { %>
                  Du kan inte avboka detta tillfälle.
                <% } %>
              </p>
            </div>
            <div class="button-bar my-3">
              <% if (reservation.is_cancelable) { %>
                <button type="button" title="Avboka detta tillfälle" class="btn btn-primary btn-md" data-bs-toggle="modal" data-bs-target="#deleteReservation" data-bs-reservation-id="<%= reservation.id %>">Avboka</button>
              <% } else { %>
                <button type="button" title="Avboka detta tillfälle" class="btn btn-secondary btn-md" disabled>Avboka</button>
              <% } %>
            </div>
          </div>
        </div>
      <% }) %>

      <div class="my-5">
        <h4>Passerade tillfällen</h4>
        <% reservations.filter(r => r.is_passed).forEach(reservation => { %>
          <div class="card <% if (reservation.just_created) { %>border-success <% } %>my-2" data-reservation-id="<%= reservation.id %>">
            <div class="card-header">
              <% if (reservation.canvas_group_id) { %>
                Gruppbokning: <%= reservation.canvas_group_name %>
              <% } else { %>
                Individuell bokning: <%= reservation.canvas_user_name %>
              <% } %>
            </div>
            <div class="card-body">
              <h5 class="card-title"><%= reservation.course_name %></h5>
              <h6 class="card-subtitle mb-2 text-muted"><%- reservation.time_human_readable_sv %></h6>
              <p class="card-text">
                Handledare: <%= reservation.instructor_name %>, plats: <%= reservation.location_name %>
                <% if (reservation.location_cmap_id) { %>
                  <a href="https://maps.chalmers.se/#<%= reservation.location_cmap_id %>" target="_blank"><i class="bi bi-geo-alt-fill" data-toggle="tooltip" data-placement="bottom" title="Hitta till lokalen med Chalmers Maps"></i></a>
                <% } else if (reservation.location_description) { %>
                  <i class="bi bi-info-circle-fill" data-toggle="tooltip" data-placement="bottom" title="<%= reservation.location_description %>"></i>
                <% } %>
                <% if (reservation.location_url) { %>
                  <a href="<%= reservation.location_url %>" target="_blank"><%= reservation.location_url %></a>
                <% } %>
              </p>
            </div>
          </div>
        <% }) %>
      </div>
    </div>
</main>

<footer>
  <%- include('../../partials/footer', { version: version }); %>
</footer>

<% if (!session.user.isAdministrator) { %>
  <%- include('../../partials/reservations_public_modal_delete'); %>
<% } %>

</body>
</html>