<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head_clean'); %>
</head>
<body class="container-fluid float-start">

<header>
  <%- include('../partials/header_clean'); %>
</header>

<main>
  <h2>Ett fel har uppstått: <%= error %></h2>
  <p><%= message %></p>
</main>

<footer>
  <%- include('../partials/footer', { version: version }); %>
</footer>

</body>
</html>