<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head_clean'); %>
</head>
<body>

<header>
  <%- include('../partials/header_clean'); %>
</header>

<main class="container-fluid py-2">
  <h2>Ett fel har uppstått: <%= error %></h2>
  <p><%= message %></p>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>