<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container float-start">

<header>
  <%- include('../partials/header', { user: session.user }); %>
</header>

<main>
    <div class="p-4 mb-4 bg-light">
        <div class="container-fluid py-5">
            <img alt="Group of people collaborating" class="float-end" src="/assets/img/people.png" />
            <h1 class="display-3">Group Bookings</h1>
            <p class="col-md-8 fs-4 lead">This tool will help you and your group to reserve appointment slots where you'll get help and feedback from teachers and other students.</p>
            <a href="/slots" class="btn btn-primary btn-lg" type="button">Show available slots</a>
        </div>
    </div>
</main>

<section>
    <div class="container-fluid py-2">
        <%- include('../partials/slots', { }); %>
    </div>

    <p>Groups you are currently member of:</p>
    <ul>
        <% groups.forEach(function(group) { %>
            <li>
                <strong><%= group.name %></strong>
            </li>
        <% }); %>
    </ul>
</section>

<section>
    <p>Session information:</p>
    <code><%= JSON.stringify(session) %></code>
</section>

<section>
    <p>User information:</p>
    <code><%= JSON.stringify(session.user) %></code>
</section>

<footer>
  <%- include('../partials/footer', { version: version }); %>
</footer>

</body>
</html>