<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../../partials/head_admin'); %>
</head>
<body>

<header>
    <%- include('../../partials/header', { user: session.user, navigation: { active: 'admin' }}); %>
</header>

<main class="container-fluid py-2">
    <div class="row">
        <div class="col-12">
            <h1><%= __('AdminHeader') %></h1>
            <%- include('../../partials/admin_navigation', { current_page: 'location' }) %>        
        </div>
    </div>
    <div class="row">
        <div class="col-md-9">
            <div class="card">
                <div class="card-header">
                    <%= __('AdminLocationDescription') %>
                </div>
                <div class="card-body">
                    <table class="table table-md table-hover">
                        <thead>
                            <tr>
                                <th><%= __('AdminLocationTableHeaderName') %></th>
                                <th class="text-right"><%= __('AdminLocationTableHeaderMaxSeats') %></th>
                                <th class="text-right"><%= __('AdminLocationTableHeaderSlots') %></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <% locations.forEach(location => { %>
                                <tr>
                                    <td>
                                        <strong><%= location.name %></strong>
                                        <span class="mx-2">
                                            <% if (location.description) { %><i class="text-secondary bi-info-circle-fill" title="<%= __('AdminLocationTableHeaderNameTypeLocalDescriptionTitle') %>"></i><% } %>
                                            <% if (location.external_url) { %>
                                                <% if (location.external_url.includes("zoom.us")) { %>
                                                    <i class="text-secondary bi-webcam-fill" title="<%= __('AdminLocationTableHeaderNameTypeZoomTitle') %>"></i>
                                                <% } else { %>
                                                    <i class="text-secondary bi-link" title="<%= __('AdminLocationTableHeaderNameTypeExternalLinkTitle') %>"></i>
                                                <% } %>
                                            <% } %>
                                            <% if (location.campus_maps_id) { %><i class="text-secondary bi-geo-alt-fill" title="<%= __('AdminLocationTableHeaderNameTypeCampusMapsTitle') %>"></i><% } %>    
                                        </span>
                                        <div>
                                            <small><%= location.description ? location.description.substring(0, Math.min(80, location.description.length)) : null %></small>
                                        </div>
                                    </td>
                                    <td><%= location.max_individuals %></td>
                                    <td><%= location.slots %></td>
                                    <td>
                                        <div class="float-end">
                                            <button type="button" title="<%= __('AdminLocationTableControlEditLabel') %>" data-bs-toggle="modal" data-bs-target="#editLocation" data-bs-location-id="<%= location.id %>" class="btn btn-secondary btn-md"><i class="bi-pencil-fill"></i></button>
                                            <button type="button" title="<%= __('AdminLocationTableControlDeleteLabel') %>" data-bs-toggle="modal" data-bs-target="#deleteLocation" data-bs-location-id="<%= location.id %>" class="btn btn-secondary btn-md mx-2"><i class="bi-trash-fill"></i></button>
                                        </div>
                                    </td>
                                </tr>
                            <% }) %>
                        </tbody>
                    </table>
                    <div class="button-bar">
                        <button type="button" class="btn btn-md btn-secondary" title="<%= __('AdminLocationCreateNewButtonTitle') %>" data-bs-toggle="modal" data-bs-target="#newLocation"><%= __('AdminLocationCreateNewButtonTitle') %></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-header">
                    <%= __('AdminLocationHelpPaneTitle') %>
                </div>
                <div class="card-body text-muted">
                    <%- __('AdminLocationHelpPaneContent') %>
                </div>
            </div>
        </div>
    </div>
</main>

<%- include('../../partials/admin_location_modal_new'); %>
<%- include('../../partials/admin_location_modal_edit'); %>
<%- include('../../partials/admin_location_modal_delete'); %>

<footer>
  <%- include('../../partials/footer'); %>
</footer>

</body>
</html>