<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../../partials/head_admin'); %>
</head>
<body class="container-fluid float-start">

<header>
    <%- include('../../partials/header', { user: session.user, navigation: { active: 'admin' }}); %>
</header>

<main class="container-fluid py-2">
    <div class="row">
        <div class="col-12">
            <h1>Administration</h1>
            <%- include('../../partials/admin_navigation', { current_page: 'canvas' }) %>        
        </div>
    </div>
    <div class="row">
        <div class="col-md-9">
            <div class="card">
                <div class="card-header">
                    Canvaskoppling
                </div>
                <div class="card-body">
                    <form id="editSettingsCanvas">
                        <input type="hidden" name="canvas_course_id" id="e_canvas_course_id" value="<%= data.canvas_course_id %>">
                        <p>
                            <label for="canvas_course_name">Kursnamn:</label><br>
                            <%= data.canvas_course_name %>
                        </p>
                        <p>
                            <label for="group_category_mapping">Giltiga gruppuppsättningar:</label><br>
                            <select id="e_group_category_mapping" name="group_category_mapping" class="form-select" multiple size="<%= Math.max(data.canvas_group_categories.length, 10) %>">
                                <% data.canvas_group_categories.forEach(c => { %>
                                    <option <%= c.filtered_in_db ? 'selected' : null %> value="<%= c.id %>"><%= c.name %></option>
                                <% }) %>
                            </select>
                        </p>
                        <div class="button-bar">
                            <button type="submit" class="btn btn-md btn-primary">Spara ändringar</button>
                        </div>
                        <div id="editFormCanvasError" class="alert alert-danger d-none" role="alert">
                            <strong>Ett fel uppstod: </strong><span></span>
                        </div>
                    </form>
                </div>
            </div>        
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-header">
                    Hjälp
                </div>
                <div class="card-body text-muted">
                    <p>
                        Grundkopplingar till den kurs i Canvas som verktyget används för.
                    </p>
                    <p>
                        Om det finns många grupper i kursen och en student kan tänkas vara kopplad till flera olika, 
                        kan du välja att filtrera vilka gruppuppsättningar som är giltiga.
                    </p>
                    <p>
                        Om inget är markerat så är alla giltiga.
                    </p>
                </div>
            </div>
        </div>
    </div>
</main>

<footer>
  <%- include('../../partials/footer'); %>
</footer>

</body>
</html>