<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../../partials/head_admin'); %>
</head>
<body>

<header>
    <%- include('../../partials/header', { user: session.user, navigation: { active: 'admin' }}); %>
</header>

<main class="container-fluid py-2">
    <h1>Administration</h1>
    <%- include('../../partials/admin_navigation', { current_page: 'course' }) %>

    <div class="row">
        <div class="col-md-9">
            <div class="card">
                <div class="card-header">
                    <%= __('AdminCourseDescription') %>
                </div>
                <div class="card-body">
                    <table class="table table-md table-hover">
                        <thead>
                            <tr>
                                <th><%= __('AdminCourseTableHeaderName') %></th>
                                <th class="text-right"><%= __('AdminCourseTableHeaderSlots') %></th>
                                <th class="text-right"><%= __('AdminCourseTableHeaderSeats') %></th>
                                <th class="text-right"><%= __('AdminCourseTableHeaderReserved') %></th>
                                <th class="text-right"><%= __('AdminCourseTableHeaderCancelled') %></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <% courses.forEach(course => { %>
                                <tr>
                                    <td>
                                        <strong><%= course.name %></strong><br>
                                        <%= course.is_group ? __('AdminCourseTableNameTypeGroup') : __('AdminCourseTableNameTypeIndividual') %>
                                    </td>
                                    <td class="text-right"><%= course.slots %></td>
                                    <td class="text-right"><%= course.spots %></td>
                                    <td class="text-right"><%= course.reservations %></td>
                                    <td class="text-right"><%= course.deleted %></td>
                                    <td>
                                        <div class="float-end">
                                            <button type="button" title="<%= __('AdminCourseTableControlEditButtonTitle') %>" data-bs-toggle="modal" data-bs-target="#editCourse" data-bs-course-id="<%= course.id %>" class="btn btn-secondary btn-md"><i class="bi-pencil-fill"></i></button>
                                            <button type="button" title="<%= __('AdminCourseTableControlDeleteButtonTitle') %>" data-bs-toggle="modal" data-bs-target="#deleteCourse" data-bs-course-id="<%= course.id %>" class="btn btn-secondary btn-md mx-2"><i class="bi-trash-fill"></i></button>
                                        </div>
                                    </td>
                                </tr>
                            <% }) %>
                        </tbody>
                    </table>
                    <div class="button-bar">
                        <button type="button" title="<%= __('AdminCourseCreateNewButtonTitle') %>" data-bs-toggle="modal" data-bs-target="#newCourse" class="btn btn-md btn-secondary"><%= __('AdminCourseCreateNewButtonTitle') %></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-header">
                    <%= __('AdminCourseHelpPaneTitle') %>
                </div>
                <div class="card-body text-muted">
                    <%- __('AdminCourseHelpPaneContent') %>
                </div>
            </div>
        </div>
    </div>
</main>

<%- include('../../partials/admin_course_modal_new'); %>
<%- include('../../partials/admin_course_modal_edit'); %>
<%- include('../../partials/admin_course_modal_delete'); %>

<footer>
  <%- include('../../partials/footer'); %>
</footer>

</body>
</html>