<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../../partials/head_admin'); %>
</head>
<body>

<header>
    <%- include('../../partials/header', { user: session.user, navigation: { active: 'admin' }}); %>
</header>

<main class="container-fluid py-2">
    <div class="row">
        <div class="col-12">
            <h1><%= __('AdminHeader') %></h1>
            <%- include('../../partials/admin_navigation', { current_page: 'exports' }) %>        
        </div>
    </div>
    <div class="row">
        <div class="col-md-9">
            <div class="card">
                <div class="card-header">
                    <%= __('AdminExportsDescription') %>
                </div>
                <div class="card-body">
                    <h4><%= __('AdminExportsReservations') %></h4>
                    <p>
                        <i class="bi bi-file-earmark-x calendar2-check-fill"></i> <a href="/api/admin/exports/csv/group-reservations/<%= data.canvas_course_id %>"><%= __('AdminExportsReservationsAllGroups') %></a>
                    </p>
                </div>
            </div>        
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-header">
                    <%= __('AdminExportsHelpPaneTitle') %>
                </div>
                <div class="card-body text-muted">
                    <%- __('AdminExportsHelpPaneDescription') %>
                </div>
            </div>
        </div>
    </div>
</main>

<footer>
  <%- include('../../partials/footer'); %>
</footer>

</body>
</html>