<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../../partials/head_admin'); %>
</head>
<body>

<header>
    <%- include('../../partials/header', { user: session.user, navigation: { active: 'admin' }}); %>
</header>

<main class="container-fluid py-2">
    <div class="row">
        <div class="col-12">
            <h1><%= __('AdminHeader') %></h1>
            <%- include('../../partials/admin_navigation', { current_page: 'segment' }) %>        
        </div>
    </div>
    <div class="row">
        <div class="col-md-9">
            <div class="card">
                <div class="card-header">
                    <%= __('AdminSegmentDescription') %>
                </div>
                <div class="card-body">
                    <table class="table table-md table-hover">
                        <thead>
                            <tr>
                                <th><%= __('AdminSegmentTableHeaderSign') %></th>
                                <th><%= __('AdminSegmentTableHeaderName') %></th>
                                <th class="text-right"><%= __('AdminSegmentTableHeaderSlots') %></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <% segments.forEach(segment => { %>
                                <tr>
                                    <td class="text-center align-middle" style="color:white; background-color:<%= segment.hex_color %>;"><strong><%= segment.sign %></strong></td>
                                    <td>
                                        <strong><%= segment.name %></strong>
                                    </td>
                                    <td><%= segment.courses %></td>
                                    <td>
                                        <div class="float-end">
                                            <button type="button" title="<%= __('AdminSegmentTableControlEditButtonTitle') %>" data-bs-toggle="modal" data-bs-target="#editSegment" data-bs-segment-id="<%= segment.id %>" class="btn btn-secondary btn-md"><i class="bi-pencil-fill"></i></button>
                                            <button type="button" title="<%= __('AdminSegmentTableControlDeleteButtonTitle') %>" data-bs-toggle="modal" data-bs-target="#deleteSegment" data-bs-segment-id="<%= segment.id %>" class="btn btn-secondary btn-md mx-2"><i class="bi-trash-fill"></i></button>
                                        </div>
                                    </td>
                                </tr>
                            <% }) %>
                        </tbody>
                    </table>
                    <div class="button-bar">
                        <button type="button" class="btn btn-md btn-secondary" title="<%= __('AdminSegmentCreateNewButtonTitle') %>" data-bs-toggle="modal" data-bs-target="#newSegment" data-bs-existing-segments="<%= segments.length %>"><%= __('AdminSegmentCreateNewButtonTitle') %></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-header">
                    <%= __('AdminSegmentHelpPaneTitle') %>
                </div>
                <div class="card-body text-muted">
                    <%- __('AdminSegmentHelpPaneContent') %>
                </div>
            </div>
        </div>
    </div>
</main>

<%- include('../../partials/admin_segment_modal_new'); %>
<%- include('../../partials/admin_segment_modal_edit'); %>
<%- include('../../partials/admin_segment_modal_delete'); %>

<footer>
  <%- include('../../partials/footer'); %>
</footer>

</body>
</html>